<div class="kuaishou">
	<div style='display:flex;'>
		<!-- 搜索 -->
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)' *ngIf="searchType == '切换excel批量搜索'">
		</ngx-search>
		<div style="display: flex; align-items: center" *ngIf="searchType == '切换输入搜索'">
			<button nz-button nzType="primary" style="margin-left: 20px" (click)="excelSearch()" nzGhost>
				选择excel文件
			</button>
			<div style="margin-left: 12px" *ngIf="listK.length != 0">
				<nz-select [nzDropdownMatchSelectWidth]="false" [(ngModel)]="listeValue"
					nzPlaceHolder="选择一列进行搜索(作品链接)" (ngModelChange)="listeChange()">
					<nz-option *ngFor="let l of listK; let i = index" [nzValue]="listK[i]" [nzLabel]="listK[i]">
					</nz-option>
				</nz-select>
			</div>
		</div>
		<button nz-button nzType="primary" style="margin-left: 20px" (click)="searchTypeChange()">
			{{ searchType }}
		</button>
	</div>
	<div *ngIf="searchType == '切换输入搜索'">
		<nz-empty *ngIf="resultList.length==0" style="margin-top: 160px;"></nz-empty>
		<div *ngFor='let item of resultList;' style="display: flex;margin-top: 30px;">
			<div *ngIf='!item.success'>
				请求失败
			</div>
			<div *ngIf='item.success' style="flex:1;flex-shrink: 0;">
				<div style="display: flex;align-items: center;">
					<div>
						<img [src]="item.data.headerUrl" style="height:50px;border-radius: 50%;">
					</div>
					<div style="font-weight: bold;margin-left: 12px;">
						{{item.data.name}}
					</div>
					<div (click)='common.copy(item.data.id)' style="margin-left: 12px;font-size: 12px;color:#666;cursor: pointer;" nzTooltipTitle="点击复制" nz-tooltip>
						作者ID:{{item.data.id}}
					</div>
				</div>
				<div style="font-weight: bold;margin: 12px 0;">
					{{item.data.caption}}
				</div>
				<div style="font-size: 12px;color:#666;display: flex;">
					<div nzTooltipTitle="作品发布时间" nz-tooltip>
						{{common.timeFormat(item.data.timestamp,'yyyy-mm-dd hh:MM')}}
					</div>
					<div style="margin: 0 12px;display: flex;align-items: center;" nzTooltipTitle="作品点赞量" nz-tooltip>
						<img src="../../../../assets/img/dianzan.svg" style="width: 18px;height:18px;margin-right: 2px;">
						<div>
							{{common.toThousands(item.data.realLikeCount)}}
						</div>
					</div>
					<div style="display: flex;align-items: center;" nzTooltipTitle="作品播放量" nz-tooltip>
						<img src="../../../../assets/img/bofang.svg" style="width: 18px;height:18px;margin-right: 2px;">
						<div>
							{{item.data.viewCount}}
						</div>
					</div>
					<div (click)='common.copy(item.data.VideoId)' style="margin-left: 12px;font-size: 12px;color:#666;cursor: pointer;" nzTooltipTitle="点击复制" nz-tooltip>
						视频ID:{{item.data.VideoId}}
					</div>
				</div>
				<div style="margin: 12px 0;">
					作品封面：
				</div>
				<img [src]="item.data.coverUrl" style="width:260px;box-shadow: 5px 5px 10px #666666, -5px -5px 10px #999999;">
			</div>
			<div style="flex:1;flex-shrink: 0;display: flex; justify-content: center;">
				<video [src]="item.data.photoUrl" style='width:260px;box-shadow: 5px 5px 10px #666666, -5px -5px 10px #999999;' controls></video>
			</div>
		</div>
	</div>
	<div *ngIf="searchType == '切换excel批量搜索'">
		<nz-empty *ngIf="!result.id" style="margin-top: 160px;"></nz-empty>
		<div *ngIf='result.id' style="display: flex;margin-top: 30px;">
			<div style="flex:1;flex-shrink: 0;">
				<div style="display: flex;align-items: center;">
					<div>
						<img [src]="result.headerUrl" style="height:50px;border-radius: 50%;">
					</div>
					<div style="font-weight: bold;margin-left: 12px;">
						{{result.name}}
					</div>
					<div (click)='common.copy(result.id)' style="margin-left: 12px;font-size: 12px;color:#666;cursor: pointer;" nzTooltipTitle="点击复制" nz-tooltip>
						作者ID:{{result.id}}
					</div>
				</div>
				<div style="font-weight: bold;margin: 12px 0;">
					{{result.caption}}
				</div>
				<div style="font-size: 12px;color:#666;display: flex;">
					<div nzTooltipTitle="作品发布时间" nz-tooltip>
						{{common.timeFormat(result.timestamp,'yyyy-mm-dd hh:MM')}}
					</div>
					<div style="margin: 0 12px;display: flex;align-items: center;" nzTooltipTitle="作品点赞量" nz-tooltip>
						<img src="../../../../assets/img/dianzan.svg" style="width: 18px;height:18px;margin-right: 2px;">
						<div>
							{{common.toThousands(result.realLikeCount)}}
						</div>
					</div>
					<div style="display: flex;align-items: center;" nzTooltipTitle="作品播放量" nz-tooltip>
						<img src="../../../../assets/img/bofang.svg" style="width: 18px;height:18px;margin-right: 2px;">
						<div>
							{{result.viewCount}}
						</div>
					</div>
					<div (click)='common.copy(result.VideoId)' style="margin-left: 12px;font-size: 12px;color:#666;cursor: pointer;" nzTooltipTitle="点击复制" nz-tooltip>
						视频ID:{{result.VideoId}}
					</div>
				</div>
				<div style="margin: 12px 0;">
					作品封面：
				</div>
				<img [src]="result.coverUrl" style="width:260px;box-shadow: 5px 5px 10px #666666, -5px -5px 10px #999999;">
			</div>
			<div style="flex:1;flex-shrink: 0;display: flex; justify-content: center;">
				<video [src]="result.photoUrl" style='width:260px;box-shadow: 5px 5px 10px #666666, -5px -5px 10px #999999;' controls></video>
			</div>
		</div>
	</div>
   
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>