<div class="mainBox">
    <div>
        <div *ngIf='!location'>
            <div class="semi-row" style="margin-top:50px">
                <div class="semi-col-12">
                    <div class="uploadFile-box">
                        <div style="color:red;display: flex;flex-direction: column;align-items: center;"
                            *ngIf='message'>{{message}}</div>
                        <ngx-upload-file (onFileChild)='onFile($event)'></ngx-upload-file>
                    </div>
                </div>
            </div>
            
            <div class="semi-row" style="margin-top:90px">
                <div class="semi-col-12" style="display: flex;flex-direction: column;align-items: center;">
                    <button class="btn" (click)="change()">转换</button>
                </div>
            </div>
			
        </div>
    </div>
</div>