@import '../@theme/styles/themes';
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;
		.ng-star-inserted>a{
			color: #000!important;
			line-height: 30px!important;
		}
		.ant-empty-description{
			color: #000!important;
		}
    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
