@import '../@theme/styles/themes';
@import '~highlight.js/styles/github.css';
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;
		.ng-star-inserted>a{
			color: #000!important;
			line-height: 30px!important;
		}
		.ant-empty-description{
			color: #000!important;
		}
		.ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
			padding-top:0!important;
		}
		.ant-collapse>.ant-collapse-item>.ant-collapse-header{
			padding:4px 16px!important;
		}
    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
