<div class="hotSearchListTemplate">
	<nz-empty *ngIf="listItem.infoArr.length==0||!imgShow" style="margin-top: 160px;"></nz-empty>
	<div *ngIf='listItem.infoArr.length>0&&listItem.type==1;' style="display: flex;flex-wrap: wrap;"  [ngClass]='{"opa0":!imgShow}'>
		<div *ngFor='let citem of listItem.infoArr;let cindex = index;' class="list-item">
			<div class='hotIndex'>
				<div style="position: relative;z-index: 111;">
					{{cindex+1}}
				</div>
			</div>
			<div class='item-imgBox' (click)='doPlay(cindex)'>
				<img nz-image [nzFallback]="fallback" [nzSrc]="citem.imgUrl"
					style="width:100%;height:100%;display: block;" (load)='imgonload($event)'>
				<img *ngIf='!citem.isPlay&&citem.audioUrl' src="/assets/img/PLAY-blue.svg" class='imgPlay'>
				<img *ngIf='citem.isPlay&&citem.audioUrl' src="/assets/img/PAUSE-blue.svg" class='imgPlay'>
			</div>
			<div style="margin-left: 8px;flex:1;overflow: hidden;">
				<div style="display: flex;align-items: center;cursor: pointer;" (click)='openSongDetail(citem.eMixSongID)'>
					<img *ngIf='cindex<=2' src="/assets/img/hot.svg" class="hotSvg" />
					<div style="" class="hideText" nz-tooltip [nzTooltipTitle]="citem.reason">
						{{citem.reason}}
					</div>
				</div>
				<div style="margin: 4px 0;font-size: 13px;color:#666;" class="hideText" nz-tooltip [nzTooltipTitle]="citem.albumName">
					{{citem.albumName}}
				</div>
				<div style="display: flex;" nz-tooltip [nzTooltipTitle]="citem.singers.join()">
					<div *ngFor='let singer of citem.singers;let singerI = index;' style="font-size: 13px;color:#666;"
						class="hideText">
						{{singerI == citem.singers.length-1?singer:singer+","}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf='listItem.infoArr.length>0&&listItem.type==2;' style="display: flex;flex-wrap: wrap;">
		<div *ngFor='let citem of listItem.infoArr;let cindex = index;' class="list-item">
			<div class='hotIndex'>
				<div style="position: relative;z-index: 111;">
					{{cindex+1}}
				</div>
			</div>
			<div class='item-imgBox' *ngIf='citem.extra.imgurl'>
				<img nz-image [nzFallback]="fallback" [nzSrc]="citem.extra.imgurl" [nzPlaceholder]="fallback"
					style="width:100%;height:100%;display: block;">
			</div>
			<div style="margin-left: 8px;overflow: hidden;">
				<div style="display: flex;align-items: center;">
					<img *ngIf='cindex<=2' src="/assets/img/hot.svg" class="hotSvg" />
					<div style="" class="hideText" nz-tooltip [nzTooltipTitle]="citem.reason">
						{{citem.reason}}
					</div>
				</div>
				<div style="margin: 4px 0;font-size: 13px;color:#666;" class="hideText" nz-tooltip [nzTooltipTitle]="citem.extra.album_name">
					{{citem.extra.album_name}}
				</div>
				<div style="font-size: 13px;color:#666;" class="hideText" nz-tooltip [nzTooltipTitle]="citem.extra.author_name">
					{{citem.extra.author_name}}
				</div>
				<div style="font-size: 13px;color:#666;margin-top:4px;" nz-tooltip
					[nzTooltipTitle]="'关键词:'+citem.keyword">
					{{citem.keyword}}
				</div>
			</div>
		</div>
	</div>
</div>