.yinghuo{
	background-color: #fff;
	border-radius: 12px;
	min-height: calc(100vh - 4.75rem - 4rem);
	.yinghuo-top{
		padding: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.top-left{
			display: flex;
			align-items: center;
			.top-select{
				display: flex;
				align-items: center;
				font-size: 12px;
				color: #666;
				font-weight: bold;
				margin-right: 14px;
			}
		}
	}
	.list {
		// overflow: scroll;
		padding: 24px;
		padding-top: 0;
		.list-item {
			font-size: 12px;
			color: rgba(0, 0, 0, 0.6);
			margin-bottom: 20px;
			background: #FFFFFF;
			border: 1px solid rgba(0,0,0,0.12);
			border-radius: 12px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
			padding: 0 16px;
			.icon {
				width: 16px;
				margin-right: 4px;
				height: 16px;
			}
			.item-left {
				width: 580px;
				display: flex;
				flex-shrink: 0;
				align-items: center;
				.left-avatar{
					flex-shrink: 0;
					height: 60px;
					width: 60px;
					border-radius: 50%;
					overflow: hidden;
				}
				.left-text{
					margin-left: 16px;
				}
				.title-area {
					display: flex;
					align-items: center;
					.title {
						font-weight: bold;
						font-size: 16px;
						color: #000;
						max-width: 220px;
						cursor: pointer;
					}
				}
				.subTitle {
					margin-top: 6px;
					display: flex;
					align-items: center;
				}
			}
			.item-center{
				flex-shrink: 0;
				flex:1;
				.songs-item {
					font-weight: bold;
					// width:200px;
					margin:4px 0;
					display: flex;align-items: center;
					cursor: pointer;
					 // overflow: hidden;
					 //        white-space: nowrap;
					 //        text-overflow: ellipsis;
				}
			}
			.item-right{
				
			}
			
		}
	}
}
.play{
	position: fixed;
	right:110px;
	bottom:30px;
}
	.music-playIcon {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		margin-right: 4px;
		.icon1{
			width: 3px;
			height: 7px;
			background-color: royalblue;
			margin-right: 2.5px;
		}
		.icon2{
			width: 3px;
			height: 10px;
			background-color: royalblue;
			margin-right: 2.5px;
		}
		.icon3{
			width: 3px;
			height: 13px;
			background-color: royalblue;
		}
	}
	.music-playIcon_animation{
		.icon1{
			animation: playIcon1 1s ease infinite;
		}
		.icon2{
			animation: playIcon1 1s ease 0.3s infinite;
		}
		.icon3{
			animation: playIcon1 1s ease 0.6s infinite;
		}
	}
	@keyframes playIcon1 {
		0% {
			height: 6px;
		}
		10%{
			height: 7.5px;
		}
		20%{
			height: 9px;
		}
		30%{
			height: 10.5px;
		}
		40%{
			height: 12px;
		}
		50% {
			height: 13.5px;
		}
		60%{
			height: 12px;
		}
		70%{
			height: 10.5px;
		}
		80%{
			height: 9px;
		}
		90%{
			height: 7.5px;
		}
		100% {
			height: 6px;
		}
	}