<div class="douyin">

	<div style='margin-bottom:16px;display: flex;align-items: center;justify-content: space-between;'>
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
		</ngx-search>
		<div style="display: flex;align-items: center;">
			<button nz-button nzType="primary" style='margin-right: 20px;' (click)='exportXlsb()'>
			      <span nz-icon nzType="download"></span>
			      导出XLSB
			    </button>
			<nz-switch *ngIf='highUserList.indexOf(userId) != -1' [ngModel]="type" nzCheckedChildren="我的" nzUnCheckedChildren="全部" (ngModelChange)='ngModelChange()'></nz-switch>
		</div>
	</div>
	<nz-table #nestedTable [nzData]="list" [nzFrontPagination]='false'>
		<thead>
			<tr>
				<th nzAlign='center'></th>
				<th nzAlign='center'>视频名</th>
				<th nzAlign='center'>声源</th>
				<th nzAlign='center'>标签</th>
				<th nzAlign='center'>视频发布时间</th>
				<th nzAlign='center'>期望点赞</th>
				<th nzAlign='center'>点赞</th>
				<th nzAlign='center'>评论</th>
				<th nzAlign='center'>收藏</th>
				<th nzAlign='center'>分享</th>
				<th nzAlign='center'>播放</th>
				<th nzAlign='center'>待定</th>
				<th nzAlign='center'>博主名</th>
				<th nzAlign='center'>归属人</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor let-item [ngForOf]="nestedTable.data">
				<tr>
					<td [(nzExpand)]="item.expand">
						<span (click)='playMusic(item)' *ngIf='!audioErr&&!item.isplay&&item.originalSound' nz-icon nzType="play-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
						<span (click)='pauseMusic(item)' *ngIf='!audioErr&&item.isplay&&item.originalSound' nz-icon nzType="pause-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
						<button *ngIf='audioErr&&item.originalSound==audioSrc' nz-button nzType="primary" nzSize='small' (click)='reloadAudio(item)'>
						    重新加载
						</button>
					</td>
					<td nzAlign='center'>{{item.previewTitle}}</td>
					<td nzAlign='center'>{{item.title}}</td>
					<td nzAlign='center' >
						<span style='color:#e5526c;' *ngFor="let tag of item.textExtra;">
							{{tag?'#'+tag:'无'}}
						</span>
					</td>
					<td nzAlign='center'>{{common.getTime(item.createTime*1000)}}</td>
					<td nzAlign='center'>{{common.toThousands(item.expectations)}}</td>
					<td nzAlign='center'>{{common.toThousands(item.diggCountArr[item.diggCountArr.length-1])}} </td>
					<td nzAlign='center'>{{common.toThousands(item.commentCountArr[item.commentCountArr.length-1])}}</td>
					<td nzAlign='center'>{{common.toThousands(item.collectCountArr[item.collectCountArr.length-1])}}</td>
					<td nzAlign='center'>{{common.toThousands(item.shareCountArr[item.shareCountArr.length-1])}} </td>
					<td nzAlign='center'>{{common.toThousands(item.playCountArr[item.playCountArr.length-1])}} </td>
					<td nzAlign='center'>{{common.toThousands(item.admireCountArr[item.admireCountArr.length-1])}} </td>
					<td nzAlign='center'>{{item.Nickname}}</td>
					<td nzAlign='center'>{{item.username}}</td>
				</tr>
				<tr [nzExpand]="item.expand">
					<div *ngIf='item.isShowRadio3'>
						<div>
							<div style="display: flex;">
								<div>
									<a href="{{item.videoUrl}}" target='_blank'>视频链接</a>
								</div>
								<div style="margin-left: 18px;">
									<a href="{{item.homeUrl}}" target='_blank'>博主抖音</a>
								</div>
								
								
								<!-- 视频趋势 -->
								<div *ngIf="(item.seeVideo2 &&item.loadingFinished2 &&item.VideoTrend &&!item.BloggerVideoErr2) ||!item.seeVideo2" style="cursor: pointer; color: blue; margin-left: 16px" (click)="toVideoTrend(item)">
									视频趋势
								</div>
								<div *ngIf="item.seeVideo2 &&item.loadingFinished2 && !item.VideoTrend &&!item.BloggerVideoErr2" style="margin-left: 16px">
									暂无
								</div>
								<div *ngIf="item.seeVideo2 && !item.loadingFinished2" style="margin-left: 16px">
									<nz-spin nzSimple [nzSize]="'small'"></nz-spin>
								</div>
								<div *ngIf="item.seeVideo2 &&item.BloggerVideoErr2 && item.loadingFinished2" (click)="getDouHotBear(item)" style="margin-left: 16px; cursor: pointer; color: blue">
									重新加载
								</div>
								<!-- 热点详情 -->
								<div *ngIf="(item.sentence_id||!item.seeVideo)&&((item.seeVideo &&item.loadingFinished &&item.sentenceDetail &&!item.BloggerVideoErr) ||!item.seeVideo)" style="cursor: pointer; color: blue; margin-left: 16px" (click)="toSentenceDetail(item)">
									热点详情
								</div>
								<div *ngIf="item.seeVideo && !item.loadingFinished" style="margin-left: 16px">
									<nz-spin nzSimple [nzSize]="'small'"></nz-spin>
								</div>
								<div *ngIf="item.seeVideo &&item.BloggerVideoErr && item.loadingFinished" (click)="getDouSentenceDetail(item)" style="margin-left: 16px; cursor: pointer; color: blue">
									重新加载
								</div>
								<div *ngIf='!item.sentence_id&&item.seeVideo&&item.loadingFinished' style='color:#ccc;margin-left: 16px;'>
									暂无热点
								</div>
								
								
								
								<div style="margin-left: 18px;" >
									<a *ngIf='item.Home' href="{{item.Home}}" target='_blank' style="color:#3366ff!important;">博主Q音</a>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Information'>
									联系方式：<span class="value">{{item.Information}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Note'>
									备注：<span class="value">{{item.Note}}</span>
								</div>
							</div>
							<div style="display: flex;">
								<div *ngIf='item.Vocals!==""'>
									翻唱唱筹：<span class="value">{{item.Vocals}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Split!==""'>
									翻唱分成：<span class="value">{{item.Split}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Original!==""'>
									原创唱筹：<span class="value">{{item.Original}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.OriginalShare!==""'>
									原创分成：<span class="value">{{item.OriginalShare}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Fees!==""'>
									翻唱视频费用：<span class="value">{{item.Fees}}</span>
								</div>
							</div>
							<div style="display: flex;">
								<div>
									博主获赞：<span class="value">{{common.toThousands(item.Clicklike)}}</span>
								</div>
								<div style="margin-left: 18px;">
									博主粉丝：<span class="value">{{common.toThousands(item.Fans)}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Type'>
									类型：<span class="value">{{item.Type}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Style'>
									风格：<span class="value">{{item.Style}}</span>
								</div>
								<div style="margin-left: 18px;" *ngIf='item.Characteristics'>
									嗓音：<span class="value">{{item.Characteristics}}</span>
								</div>
							</div>
							<div style="display: flex;" *ngIf='item.position!=-1&&item.commentList[item.position].createTime'>
								<div style="display: flex;align-items: center;">
									评论人：
									<span class="value" *ngIf='item.commentList[item.position].uid==item.commentSecUid||item.commentList[item.position].secUid==item.commentSecUid'>
										{{item.commentList[item.position].nickName}}
									</span>
									<span class="value" style="color: red;" *ngIf='item.commentList[item.position].uid!=item.commentSecUid&&item.commentList[item.position].secUid!=item.commentSecUid'>
										{{item.commentList[item.position].nickName}}
									</span>
									<img *ngIf='item.commentList[item.position].uid==item.commentSecUid||item.commentList[item.position].secUid==item.commentSecUid' src="../../../assets/img/zhengque.svg" class="icon" />
									<img *ngIf='item.commentList[item.position].uid!=item.commentSecUid&&item.commentList[item.position].secUid!=item.commentSecUid' src="../../../assets/img/cuowu.svg" class="icon" />
								</div>
								<div style="margin-left: 18px;">
									点赞：<span class="value">{{common.toThousands(item.commentList[item.position].diggCount)}}</span>
								</div>
								<div style="margin-left: 18px;">
									归属地：<span class="value">{{item.commentList[item.position].ipLabel}}</span>
								</div>
								<div style="margin-left: 18px;">
									时间：<span class="value">{{common.getTime(item.commentList[item.position].createTime*1000)}}</span>
								</div>
							</div>
							<div style="display: flex;" *ngIf='item.position!=-1&&item.commentList[item.position].createTime'>
								<div>
									位置：<span class="value">{{item.position+1}}</span>
								</div>
								<div style="margin-left: 18px;">
									关键词：
									<span class="value" *ngFor="let ct of item.commentTextArr;let cti = index;">
										{{cti==item.commentTextArr.length-1?ct:ct+' / '}}
									</span>
								</div>
								<div style="margin-left: 18px;display:flex;align-items: center;">
									评论：
									<div class="value">
										<div [innerHTML]="assembleHTML(item.textHtml)"></div>
									</div>
								</div>
							</div>
						</div>
						<div *ngFor="let t of item.admireCountKeys;let i = index;" style="padding-top:8px;margin-top: 8px;border-top: 1px solid #ccc;">
							<div style="margin-bottom: 8px;">
								{{common.getTime(t)}}
							</div>
							<div style="display: flex;color:rgba(0,0,0,0.45);font-weight: bold;">
								<!-- 点赞数 -->
								<div style="display: flex;align-items: center;">
									<span nz-tooltip [nzTooltipTitle]="'视频获赞数'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/dianzan.svg" class="icon2" />
											{{common.toThousands(item.diggCountArr[i])}}
										</div>
									</span>
								</div>
								<!-- 视频评论数 -->
								<div style="display: flex;align-items: center;margin-left:12px;">
									<span nz-tooltip [nzTooltipTitle]="'视频评论数'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/pinglun.svg" class="icon2" />
											{{common.toThousands(item.commentCountArr[i])}}
										</div>
									</span>
								</div>
								<!-- 视频收藏数 -->
								<div style="display: flex;align-items: center;margin-left:12px;">
									<span nz-tooltip [nzTooltipTitle]="'视频收藏数'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/shoucang.svg" class="icon2" />
											{{common.toThousands(item.collectCountArr[i])}}
										</div>
									</span>
								</div>
								<!-- 视频分享数 -->
								<div style="display: flex;align-items: center;margin-left:12px;">
									<span nz-tooltip [nzTooltipTitle]="'视频分享数'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/fenxiang.svg" class="icon2" />
											{{common.toThousands(item.shareCountArr[i])}}
										</div>
									</span>
								</div>
								<!-- 视频播放数 -->
								<div style="display: flex;align-items: center;margin-left:12px;">
									<span nz-tooltip [nzTooltipTitle]="'视频播放数'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/bofang.svg" class="icon2" />
											{{common.toThousands(item.playCountArr[i])}}
										</div>
									</span>
								</div>
								<!-- 待定 -->
								<div style="display: flex;align-items: center;margin-left:12px;">
									<span nz-tooltip [nzTooltipTitle]="'待定'">
										<div style="display: flex;align-items: center;">
											<img src="../../../assets/img/daiding.svg" class="icon2" />
											{{common.toThousands(item.admireCountArr[i])}}
										</div>
									</span>
								</div>
							</div>
						</div>
					</div>
					
					<div *ngIf='item.isShowRadio2'>
						<div style="color:blue;cursor:pointer" (click)='reback(item)'>
							返回
						</div>
						<!-- 视频趋势 -->
						<ngx-dyVideoTrend [result]='item.VideoTrend' ></ngx-dyVideoTrend>
					</div>
					<div *ngIf='item.isShowRadio'>
						<div style="color:blue;cursor:pointer" (click)='reback(item)'>
							返回
						</div>
						<!-- 热点详情 -->
						<ngx-dyHotDetail [result]='item'></ngx-dyHotDetail>
					</div>
				</tr>
			</ng-template>
		</tbody>
	</nz-table>

	<!-- 分页 -->
	<div class="pagination">
		<nz-pagination [nzPageIndex]="page" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper nzShowSizeChanger [nzPageSizeOptions]='pageSizeOptions' (nzPageSizeChange)='nzPageSizeChange($event)'></nz-pagination>
	</div>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{hide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (play)='play()' (pause)='pause()' (error)='error($event)'>
		</audio>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
