       <nz-empty *ngIf="fufuList.length==0" style="margin-top: 160px;"></nz-empty>
        <div class="list">
            <div class="list-item" *ngFor="let item of fufuList;let i = index;">
                <div class="item-left">
                    <!-- <div style="font-size: 18px;color: #ccc;width: 35px;text-align: center;" *ngIf="i>2">
                        {{i+1}}
                    </div>
                    <div *ngIf="i==0">
                        <img src="../../../assets/img/first.png" alt="" style="width: 35px;">
                    </div>
                    <div *ngIf="i==1">
                        <img src="../../../assets/img/second.png" alt="" style="width: 35px;">
                    </div>
                    <div *ngIf="i==2">
                        <img src="../../../assets/img/third.png" alt="" style="width: 35px;">
                    </div> -->
                    <!-- <div class="left-avatar">
                        <img [src]="item.cover" style="width: 100%;height: 100%;"
                            onerror='this.src="/assets/img/imgError.png"' />
                    </div> -->
                    <div class="left-text">
                        <div class="title-area">
                            <!-- 歌名 -->
                            <span nz-tooltip [nzTooltipTitle]="item.song_name+(item.fsrc_version?'  版本:' +item.fsrc_version:'')">
                                <div class="title u-line-1" (click)="common.copy(item.song_name)">
                                    {{item.song_name}} <span style="font-size:14px;">{{item.fsrc_version}}</span>
                                </div>
                            </span>
                            <div style="margin-left: 10px;">
                                作者：{{item.singer_name}}
                            </div>
                            <div style="margin-left: 15px;">
                                专辑：{{item.album_name }}
                            </div>
                        </div>
                        <div class="subTitle">
                            <div style="display: flex;align-items: center;">
                                {{item.public_time}}
                                <span nz-icon nzType="right" nzTheme="outline" style='color:#ccc;margin:0 2px;'></span>
								<span nz-tooltip [nzTooltipTitle]="'录音版权公司'">
                                <div>
                                    {{item.company}}
                                </div>
								</span>
                               <span nz-icon nzType="right" nzTheme="outline" style='color:#ccc;margin:0 2px;'></span>
							   <span nz-tooltip [nzTooltipTitle]="'中央曲库ID 点击复制'">
                                <div (click)='common.copy(item.tme_id)' style="cursor: pointer;">
									{{item.tme_id?'tmeID：'+item.tme_id:'' }}
                                </div>
								</span>
                                <span nz-icon nzType="right" nzTheme="outline" style='color:#ccc;margin:0 2px;'></span>
								<span nz-tooltip [nzTooltipTitle]="payMode">
                                <div>
									{{item.pay_mode?'付费模式：'+item.pay_mode:'' }}
                                </div>
								</span>
                                <span nz-icon nzType="right" nzTheme="outline" style='color:#ccc;margin:0 2px;'></span>
								<span nz-tooltip [nzTooltipTitle]="'近1小时TME播放量，仅供参考'">
                                <div style="display: flex;align-items: center;">
									<img src="../../../assets/img/erji.png" class="icon" />
									<div>{{common.toThousands(item.key_metric)}}</div>
                                </div>
								</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		<ng-template #payMode>
		   <div>1=1.0</div>
		   <div>2=2.0</div>
		   <div>3=3.0</div>
		   <div>其他=免费</div>
		</ng-template>