<div class="multiModalLearning_computed">
	<div class="Enter">
		<div nz-row>
			<div nz-col nzSpan="6">
				<div style="display: flex; align-items: center">
					<ngx-search [searchValue]="keyword" searchHolder="请搜索歌曲关键字" (childSearch)="search($event)"
						(childInput)="childInput($event)" [searchWidth]="'100%'"></ngx-search>
					<div class="picTip" nz-tooltip nzTooltipTitle="搜索歌曲关键字并选择两个平台对应歌曲 (选填)">
						<span nz-icon nzType="info-circle" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<div class="picTip" (click)="openSongsList()">
						<span nz-icon nzType="unordered-list" nzTheme="outline"></span>
					</div>
				</div>
			</div>
			<div nz-col nzSpan="1"></div>
			<div nz-col nzSpan="15">
				<div style="display: flex; align-items: center; height: 100%">
					<div *ngIf="chooseQQKGData.qqData" style="margin: 0 6px">
						<span class="formsLabel"> QQ已选: </span>
						{{ chooseQQKGData.qqData.title }}
					</div>
					<div *ngIf="chooseQQKGData.kgData" style="margin: 0 6px">
						<span class="formsLabel"> 酷狗已选: </span>
						{{ common.deleteEM(chooseQQKGData.kgData.SongName) }}
					</div>
					<div *ngIf="chooseQQKGData.kgData || chooseQQKGData.qqData" nzSize="small" style="margin: 0 6px">
						<button nz-button nzType="primary" (click)="reset()">
							清空搜索
						</button>
					</div>
				</div>
			</div>
		</div>
		<div nz-row style="margin-top: 20px">
			<div nz-col nzSpan="5">
				<!-- 选择新歌老歌 -->
				<div class="formsBox">
					<div class="formsLabel">歌曲类型：</div>
					<nz-select [(ngModel)]="SongType" [nzDropdownMatchSelectWidth]="false" style="width: 85px">
						<nz-option nzValue="新歌" nzLabel="新歌"></nz-option>
						<nz-option nzValue="老歌" nzLabel="老歌"></nz-option>
					</nz-select>
				</div>
			</div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲生态昨日播放 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲生态昨日播放：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo1">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="EcologyPlayedYesterday" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo1>
						<span nz-icon nz-tooltip nzTooltipTitle="打开生态系统-版权查询录入昨日播放数" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate1" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate1 let-thing>
						<img src="/assets/img/EcologyPlayedYesterday.png" />
					</ng-template>
				</div>
			</div>
			<div nz-col nzSpan="1"></div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲近24H雷达播放 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲近24H雷达播放：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo2">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="_24HourRadarPlayback" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo2>
						<span nz-icon nz-tooltip nzTooltipTitle="打开雷达音乐-搜索歌曲-点击分钟录入24H播放数" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate2" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate2 let-thing>
						<img src="/assets/img/24HourRadarPlayback.png" />
					</ng-template>
				</div>
			</div>
		</div>
		<div nz-row style="margin-top: 20px">
			<div nz-col nzSpan="5">
				<!-- 星期 -->
				<div class="formsBox">
					<div class="formsLabel">对应星期：</div>
					<nz-select [(ngModel)]="Week" [nzDropdownMatchSelectWidth]="false" style="width: 85px">
						<nz-option *ngFor="let item of WeekArr" [nzValue]="item" [nzLabel]="item"></nz-option>
					</nz-select>
					<div class="picTip" nz-tooltip nzTooltipTitle="选择今日对应的星期">
						<span nz-icon nzType="info-circle" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
				</div>
			</div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲小时播放数 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲小时播放数：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo4">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="HourlyPlayback" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo4>
						<span nz-icon nz-tooltip nzTooltipTitle="打开雷达音乐-搜索歌曲-点击分钟录入1H播放数" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate3" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate3 let-thing>
						<img src="/assets/img/HourlyPlayback.png" />
					</ng-template>
				</div>
			</div>
			<div nz-col nzSpan="1"></div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲分数播放数 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲分钟播放数：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo5">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="ScorePlayback" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo5>
						<span nz-icon nz-tooltip nzTooltipTitle="打开雷达音乐-搜索歌曲-点击分钟录入5min播放数" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate4" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate4 let-thing>
						<img src="/assets/img/ScorePlayback.png" />
					</ng-template>
				</div>
			</div>
		</div>
		<div nz-row style="margin-top: 20px">
			<div nz-col nzSpan="5">
				<!-- 搜索小时时间 -->
				<div class="formsBox">
					<div class="formsLabel">搜索小时：</div>
					<nz-select [(ngModel)]="HourTime" [nzDropdownMatchSelectWidth]="false" style="width: 85px">
						<nz-option *ngFor="let item of HourTimeArr" [nzValue]="item" [nzLabel]="item"></nz-option>
					</nz-select>
					<div class="picTip" nz-tooltip nzTooltipTitle="打开雷达音乐-搜索热搜词-点击分钟录入最新数据的时间">
						<span nz-icon nzType="info-circle" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate8" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate8 let-thing>
						<img src="/assets/img/HourTime.png" />
					</ng-template>
				</div>
			</div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲近1H总PV搜索数 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲近1H总PV搜索数：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo6">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="_1HTotalPVPlayback" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo6>
						<span nz-icon nz-tooltip nzTooltipTitle="打开雷达音乐-搜索热搜词录入1H总PV" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate5" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate5 let-thing>
						<img src="/assets/img/1HTotalPVPlayback.png" />
					</ng-template>
				</div>
			</div>
			<div nz-col nzSpan="1"></div>
			<div nz-col nzSpan="9">
				<!-- 录入歌曲近24H总PV搜索数 -->
				<div class="formsBox">
					<div class="formsLabel">录入歌曲近24H总PV搜索数：</div>
					<nz-input-group [nzSuffix]="suffixTemplateInfo7">
						<input type="text" nz-input placeholder="请输入..." [(ngModel)]="_24HourTotalPVPlayback" />
					</nz-input-group>
					<ng-template #suffixTemplateInfo7>
						<span nz-icon nz-tooltip nzTooltipTitle="打开雷达音乐-搜索热搜词录入24H总PV" nzType="info-circle"></span>
					</ng-template>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate6" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate6 let-thing>
						<img src="/assets/img/24HourTotalPVPlayback.png" />
					</ng-template>
				</div>
			</div>
		</div>
		<div nz-row style="margin-top: 20px">
			<div nz-col nzSpan="5">
				<!-- 播放分钟时间 -->
				<div class="formsBox">
					<div class="formsLabel">播放分钟：</div>
					<nz-select [(ngModel)]="MinuteTime" [nzDropdownMatchSelectWidth]="false" style="width: 85px">
						<nz-option *ngFor="let item of MinuteTimeArr" [nzValue]="item" [nzLabel]="item"></nz-option>
					</nz-select>
					<div class="picTip" nz-tooltip nzTooltipTitle="打开雷达音乐-搜索歌曲-点击分钟录入最新数据的时间">
						<span nz-icon nzType="info-circle" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<div class="picTip" nz-popover [nzPopoverContent]="picTemplate7" nzPopoverPlacement="bottomRight">
						<span nz-icon nzType="picture" nzTheme="outline" style="color: rgba(0, 0, 0, 0.85)"></span>
					</div>
					<ng-template #picTemplate7 let-thing>
						<img src="/assets/img/MinuteTime.png" />
					</ng-template>
				</div>
			</div>
			<div nz-col nzSpan="7">
				<button nz-button nzType="primary" (click)="begin()" [disabled]="loadingSpin">
					开始预估
				</button>
			</div>
		</div>
	</div>
	<div class="Show">
		<div class="loadingSpin" *ngIf="loadingSpin">
			<nz-spin nzSimple nzSize="large"></nz-spin>
		</div>
		<div *ngIf="Data.length == 0" style="display: flex;align-items: center;justify-content: center;width: 100%;height: 300px;">
			<nz-empty></nz-empty>
		</div>
		<div *ngIf="Data.length > 0">
			<div style="display: flex; justify-content: center">
				<div style="width: 56%">
					<!-- 预测数据 -->
					<ngx-predictData [Data]='Data'></ngx-predictData>
				</div>
				<div style="width: 40%" *ngIf="obData.QQ">
					<!-- qq酷狗指数相关数据 -->
					<ngx-qqkgInfo [obData]='obData'></ngx-qqkgInfo>
				</div>
			</div>
			
			<div style="display: flex;flex-wrap: wrap;margin-top:20px;">
				<!-- qq酷狗排行榜数据 -->
				<ngx-qqkgRank [obData]='obData' *ngIf="obData.QQ"></ngx-qqkgRank>
				<div>
					<!-- 酷狗搜索推荐数据 -->
					<ngx-kgSearchReferral [KGSearchRecommendations]='KGSearchRecommendations'></ngx-kgSearchReferral>
					<!-- 酷狗飙升榜 三方接口(榜单&&热搜词) -->
					<ngx-kgSoaring [KGSoaringSongs]='KGSoaringSongs' [ThreePartyInterface]='ThreePartyInterface'></ngx-kgSoaring>	
				</div>
				<!-- 抖音该词条前五的数据 -->
				<ngx-dyVedioTopFive [DyVedioTopFiveTime]='DyVedioTopFiveTime' [DyVedioTopFive]='DyVedioTopFive'></ngx-dyVedioTopFive>
				<!-- 抖音挑战榜 -->
				<ngx-dyChallenge [DyChallengeList]='DyChallengeList'></ngx-dyChallenge>
			</div>

		</div>
		<div style="width: 100%;display: flex;" *ngIf="MassiveArithmeticDaRen.length>0 || MassiveArithmeticVedio.length>0">
			<div *ngIf="MassiveArithmeticDaRen.length>0" style="width: 55%;height: auto;" class="item_list">
				<!-- 巨量算数达人搜索 -->
				<ngx-jlBigV [MassiveArithmeticDaRen]='MassiveArithmeticDaRen'></ngx-jlBigV>
			</div>
			<div *ngIf="MassiveArithmeticVedio.length>0" style="width: 45%;height: auto;" class="item_list">
				<!-- 巨量算数视频搜索 -->
				<ngx-jlVideo [MassiveArithmeticVedio]='MassiveArithmeticVedio'></ngx-jlVideo>
			</div>
		</div>
	</div>
	
	
	
	
	<!-- 搜索关键字弹出选择歌曲信息 -->
	<nz-modal [(nzVisible)]="showSongsList" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzFooter]="null"
		[nzStyle]="{ width: '1000px' }">
		<ng-container *nzModalContent>
			<div style="display: flex; width: 99%; height: 70vh; overflow: hidden">
				<div style="display: flex;flex-direction: column;align-items: center;flex: 1;">
					<div style="margin-right: 16px;height: 100%;overflow-y: auto;width: calc(100% - 16px);">
						<div>QQ</div>
						<div *ngFor="let item of qqkgData.qqData; let i = index" class="datalist"
							[ngClass]="{ isSelect: item.isSelect }" (click)="chooseQQ(item, i)">
							<div><img [src]="item.Image" style="width: 60px; height: 60px; border-radius: 4px" /></div>
							<div style="margin-left: 16px">
								<div>{{ item.title }}</div>
								<div style=" font-size: 13px;color: rgba(0, 0, 0, 0.7);margin: 4px 0;">
									{{ item.album.name }}
								</div>
								<div *ngFor="let singer of item.singer"
									style="font-size: 13px; color: rgba(0, 0, 0, 0.7)">{{ singer.name }}</div>
							</div>
							<div style="flex: 1; display: flex; justify-content: flex-end">
								<img *ngIf="!item.isPlay" src="assets/img/play-green.png" class="musicPlay"
									(click)="playqq(item, i, $event)" />
								<img *ngIf="item.isPlay" src="assets/img/pause-green.png" class="musicPlay"
									(click)="playqq(item, i, $event)" />
							</div>
						</div>
					</div>
					<div nz-icon nzType="down-circle" nzTheme="twotone" (click)="qqPageNext()"
						style="cursor: pointer; font-size: 16px; margin-top: 12px"></div>
				</div>
				<div style="display: flex;flex-direction: column;align-items: center;flex: 1;">
					<div style="height: 100%; overflow-y: auto; width: 100%">
						<div>酷狗</div>
						<div *ngFor="let item of qqkgData.kgData; let i = index" class="datalist"
							[ngClass]="{ isSelect2: item.isSelect }" (click)="chooseKG(item, i)">
							<div>
								<img [src]="item.Image" style="width: 60px; height: 60px; border-radius: 4px" />
							</div>
							<div style="margin-left: 16px">
								<div>
									{{ common.deleteEM(item.SongName) }}
								</div>
								<div style="font-size: 13px;color: rgba(0, 0, 0, 0.7);margin: 4px 0;">
									{{ common.deleteEM(item.AlbumName) }}
								</div>
								<div *ngFor="let singer of item.Singers"
									style="font-size: 13px; color: rgba(0, 0, 0, 0.7)">
									{{ common.deleteEM(singer.name) }}
								</div>
							</div>
							<div style="flex: 1; display: flex; justify-content: flex-end">
								<img *ngIf="!item.isPlay" src="assets/img/play-blue.png" class="musicPlay"
									(click)="playkg(item, i, $event)" />
								<img *ngIf="item.isPlay" src="assets/img/pause-blue.png" class="musicPlay"
									(click)="playkg(item, i, $event)" />
							</div>
						</div>
					</div>
					<div nz-icon nzType="down-circle" nzTheme="twotone" (click)="kgPageNext()"
						style="cursor: pointer; font-size: 16px; margin-top: 12px"></div>
				</div>
			</div>
			<div style="display: flex;justify-content: center;width: 100%;margin-top: 12px;">
				<button nz-button nzType="primary" (click)="handleOk()" style="width: 160px">确定</button>
			</div>
		</ng-container>
	</nz-modal>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{ hide: !isPlay }">
		<audio id="audio" controls [src]="audioSrc" (play)="play($event)" (pause)="pause()"></audio>
	</div>
	<ngx-loading *ngIf="loading"></ngx-loading>
</div>

