<nz-empty *ngIf="kugouV3List.length==0" style="margin-top: 160px;"></nz-empty>
<div class="list" v-if='kugouV3List.length!=0'>
	<div class="list-item" *ngFor="let item of kugouV3List" :key='item.id'>
		<div class="item-left">
			<div class="left-icon">
				<img src="../../../assets/img/play-blue.png" style="width: 100%;height: 100%;" />
				<!-- <img src="/assets/img/pause.png" style="width: 100%;height: 100%;"> -->
			</div>
			<div class="left-text">
				<div class="title-area">
					<!-- 歌名 -->
						<div (mouseenter)='mouseenter(item)' (mouseleave)='mouseleave(item)'>
							<div class="title" (click)="openSongDetail(item.scid,item.FileHash)">
								{{common.deleteEM(item.songName)}}
							</div>
							<!-- 鼠标移入加载歌词 -->
							<ngx-lyric-all *ngIf='item.lyricShow' [songName]='common.deleteEM(item.songName)' [lyricReadly]='item.lyricReadly' [lyricData]='item.lyricData2'></ngx-lyric-all>
						</div>
					<!-- 指数 -->
					<div class="" style="display: flex;align-items: center;margin-left: 8px;">
						<img src="../../../assets/img/shuangzhexian.png" class="icon" />
						<div>{{common.toThousands(item.exponent)}}</div>
					</div>
				</div>
				<div class="subTitle">
					<!-- 歌手 发行时间 -->
					<div style="display: flex;align-items: center;">
						<div>
							{{common.deleteEM(item.singers[0].name)}}
						</div>
					</div>
					<!-- 图标 -->
					<div style="display: flex;margin-left: 8px;align-items: center;">
						<!-- 钱币图标 -->
						<img [src]="item.price==0?'../../../assets/price.png':'../../../assets/img/price-b.png'" class="icon"/>
						<span nz-icon nzType="right" nzTheme="outline" style='color:#ccc;margin:0 8px;'></span>
						<!-- 音乐图标 -->
						<img [src]="true?'../../../assets/img/music.png':'../../../assets/img/music-b.png'" class="icon">
					</div>
				</div>
			</div>
		</div>
		<div class="item-center">
			<!-- 专辑名字 -->
			<div class="exophanie-item" style="font-weight: bold;margin-top: 0;">
				{{item.albumName}}
			</div>
			<div class="exophanie-item u-line-1">
				{{item.company}}
			</div>
			<div class="exophanie-item u-line-1">
				{{item.time_public}}
			</div>
		</div>
		<div class="item-right">
			<div style="display: flex;align-items: center;justify-content: flex-end;">
				<div style="display: flex;align-items: center;">
					<!-- 收藏 -->
					<img src="../../../assets/img/love.png" class="icon" style="width: 20px;height: 18px;">
					<div>{{'-'}}</div>
				</div>
				<div style="display: flex;align-items: center;margin-left: 6px;">
					<!-- 评论 -->
					<img src="../../../assets/img/pinglun.png" class="icon">
					<div>{{'-'}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
