.script-prompts-updata {
  padding: 18px;
  padding-bottom: 20px;
  height: 100%;
  min-height: calc(100vh - 4.75rem - 4rem);
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  .mainBox {
    width: 70%;
    border-radius: 8px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}
