.converter{
	background-color: #fff;
	border-radius: 12px;
	min-height: calc(100vh - 4.75rem - 4rem);
	position: relative;
	.converter-title{
		padding: 24px;
		font-weight: bold;
		font-size: 16px;
		color: #000;
	}
	.uploadFile-box{
		margin-top: -18px;padding:0 24px;
	}
}