<!-- <input type="file" (input)='input($event)'> -->
<div class="converter">
	<div class="converter-title">
		音频文件转换器
	</div>
	<div class="uploadFile-box">
		<ngx-upload-file (onFileChild)='onFile($event)'></ngx-upload-file>
	</div>
	<nz-table #basicTable [nzData]="converterList" nzTitle='' [nzFrontPagination]='false'>
		<thead>
			<tr>
				<th nzAlign='center'>文件名</th>
				<th nzAlign='center'>发行时间</th>
				<th nzAlign='center'>Type</th>
				<th nzAlign='center'>大小</th>
				<th nzAlign='center'>...</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of basicTable.data; let i = index">
				<td nzAlign='center'>
					{{item.name}}
				</td>
				<td nzAlign='center'>
					{{item.album.name}}
				</td>
				<td nzAlign='center'>
					{{item.label}}
				</td>
				<td nzAlign='center'>
					{{item.artists[0].name}}
				</td>
				<td nzAlign='center'>
					
				</td>
			</tr>
		</tbody>
	</nz-table>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='converterList.length>0'>
		<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)'></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
