.converter{
	background-color: #fff;
	border-radius: 8px;
	min-height: 600px;
	.converter-title{
		padding: 24px;
		font-weight: bold;
		font-size: 16px;
		color: #000;
	}
	.uploadFile-box{
		margin-top: -18px;padding:0 24px;
	}
}