.item_list {
  color: rgba(0, 0, 0, 0.6);
  background: #ffffff;
  height: auto;
}
.icon{
	width:16px;height:16px;margin-right: 2px;
}
.hid{
	overflow:hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow:ellipsis;
}