<div class="brand-user">
	<nz-table #basicTable [nzData]="brandUserList" nzTitle='' [nzFrontPagination]='false'>
	  <thead>
	    <tr>
	      <th nzWidth='80px' nzAlign='center'>ID</th>
	      <th nzAlign='center'>姓名</th>
	      <th nzWidth='80px' nzAlign='center'>查看</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of basicTable.data; let i = index">
	     <td  nzAlign='center'>
			{{item.id}}	 
	      </td>
		  <td nzAlign='center'>
		  	{{item.company}}	  
		  </td>
		  <td nzAlign='center' style="color:blue;cursor: pointer;">
			<div (click)="openCompay(item.id)">
				查看
			</div>
		  </td>
	    </tr>
	  </tbody>
	</nz-table>
</div>
