<div class="tmeMap">
  <div class="tmeMapBox">
    <div class="Box">
      <div class="tagList">
        <div
          *ngFor="let item of tagList"
          (click)="onSelect(item)"
          class="tagList-item"
          [ngClass]="{ 'tagList-itemActive': item.title == selectItem }"
        >
          {{ item.title }}
        </div>
      </div>
      <div class="type">
        <div *ngIf="selectItem == '月报'">
          <span>歌曲类型：</span>
          <nz-select
            [(ngModel)]="selectedValue"
            (ngModelChange)="changeTypeOf($event)"
            nzPlaceHolder="歌曲类型"
          >
            <nz-option
              *ngFor="let option of optionList[selectItem]"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </div>
        <div *ngIf="selectItem == '歌曲'">
          <span>歌曲类型：</span>
          <nz-select
            [(ngModel)]="selectedValue2"
            (ngModelChange)="changeTypeOf2($event)"
            nzPlaceHolder="歌曲类型"
          >
            <nz-option
              *ngFor="let option of optionList[selectItem]"
              [nzValue]="option.value"
              [nzLabel]="option.label"
            ></nz-option>
          </nz-select>
        </div>
        <div style="margin-left: 20px" *ngIf="selectItem == '月报'">
          <span>开始时间：</span>
          <nz-date-picker
            nzMode="month"
            [(ngModel)]="date"
            [nzDisabledDate]="disabledDate"
          ></nz-date-picker>
        </div>
        <div style="margin-left: 20px" *ngIf="selectItem == '月报'">
          <span>筛选的页码：</span>
          <nz-input-number
            [(ngModel)]="pageValue"
            [nzMin]="1"
            [nzStep]="1"
          ></nz-input-number>
        </div>
        <div style="margin-left: 20px" *ngIf="selectItem == '歌曲'">
          <span>筛选的页码：</span>
          <nz-input-number
            [(ngModel)]="pageValue2"
            [nzMin]="1"
            [nzStep]="1"
          ></nz-input-number>
        </div>
        <div style="margin-left: 20px">
          <button
            nz-button
            nzType="primary"
            nzSize="default"
            nzShape="round"
            (click)="downLoad()"
          >
            查询
          </button>
        </div>
        <div style="margin-left: 20px" *ngIf="isCandown&&selectItem=='月报'">
          <button
            nz-button
            nzType="primary"
            nzSize="default"
            nzShape="round"
            (click)="downLoadSource()"
          >
            下载月报
          </button>
        </div>
        <div style="margin-left: 20px" *ngIf="isCandown2&&selectItem=='歌曲'">
          <button
            nz-button
            nzType="primary"
            nzSize="default"
            nzShape="round"
            (click)="downLoadSource2()"
          >
            下载歌曲
          </button>
        </div>
      </div>
      <div *ngIf="listOfData.length > 0" style="margin-top: 10px">
        <nz-table
          #fixedTable
          [nzData]="listOfData"
          [nzTotal]="listOfData.length"
          [nzPageSize]="10"
          [nzShowPagination]="true"
          [nzScroll]="{ y: '273px' }"
          nzPaginationType="small"
        >
          <thead>
            <tr>
              <th nzAlign="center">歌曲ID</th>
              <th nzAlign="center">歌曲名</th>
              <th nzAlign="center">专辑名</th>
              <th nzAlign="center">歌手名</th>
              <th nzWidth="162px" nzAlign="center">发行时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fixedTable.data">
              <td style="cursor: pointer" nzAlign="center">
                {{ data.songId || data.trackId }}
              </td>
              <td nzAlign="center" style="cursor: pointer">
                {{ data.songName || data.trackName }}
              </td>
              <td nzAlign="center" style="cursor: pointer">
                {{ data.albumName }}
              </td>
              <td nzAlign="center" style="cursor: pointer">
                {{ data.singerName }}
              </td>
              <td nzAlign="center" style="cursor: pointer">
                {{ data.publishTime }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</div>
<ngx-loading *ngIf="loading"></ngx-loading>
