<div class="freeSongs">
	<div class="freeSongs-title">
		<div>
			酷狗免费歌曲
		</div>
		<!-- 搜索
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
		</ngx-search> -->
	</div>
	<nz-table #basicTable [nzData]="list" nzTitle='' [nzFrontPagination]='false'>
	  <thead>
	    <tr>
	      <th nzWidth='80px' nzAlign='center'>排序</th>
	      <th nzAlign='center'>专辑名称</th>
	      <th nzAlign='center'>发行公司</th>
	      <th nzAlign='center'>发行时间</th>
	      <th nzAlign='center'>歌曲名称</th>
	      <th nzAlign='center'>歌手名称</th>
	      <th nzAlign='center'>指数</th>
	      <th nzWidth='80px' nzAlign='center'>查看</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of basicTable.data; let i = index">
	      <td  nzAlign='center'>
	        {{(i+1)+(pageCurrent-1)*pageSize}}
	      </td>
		  <td nzAlign='center'>
			  {{item.album_name}}
		  </td>
		  <td nzAlign='center'>
		  	{{item.company?item.company:''}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{item.publish_time?common.getDate(item.publish_time):''}}	 
		  </td>
		  <td nzAlign='center'>
		  	{{item.songname}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{item.singername}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{item.exponent?common.toThousands(item.exponent):0}}	  
		  </td>
		  <td nzAlign='center' style="color:blue;cursor: pointer;" (click)='openLink(item)'>
		  	查看
		  </td>
	    </tr>
	  </tbody>
	</nz-table>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='list.length>0'>
		<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal" (nzPageIndexChange)='nzPageIndexChange()'></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
	<ngx-not-open></ngx-not-open>
</div>
