.freeSongs{
	height: 100%;
	background-color: #fff;
	border-radius: 12px;
	min-height: 82vh;
	position: relative;
	.freeSongs-title{
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:20px;
		color: #222637;
	}
	.hide{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}