<div class="freeSongs">
	<div class="freeSongs-title">
		<div>
			酷狗免费歌曲
		</div>
		<div style="display: flex;align-items: center;">
			<label nz-checkbox [(ngModel)]="checked" (ngModelChange)='ngModelChangeCheckBox($event)'>新增歌曲</label>
			<div style="width: 16px;"></div>
			<nz-select style="width: 120px;" [(ngModel)]="type" (ngModelChange)='ngModelChange($event)'>
				<nz-option *ngFor="let item of typeList;" [nzValue]="item.name" [nzLabel]="item.name"></nz-option>
			</nz-select>
			<div style="width: 16px;"></div>
			<!-- 搜索 -->
			<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
			</ngx-search>
		</div>
	</div>
	<nz-table #basicTable [nzData]="list" nzTitle='' [nzFrontPagination]='false'>
	  <thead>
	    <tr>
		  <th nzAlign='center'>歌曲名称</th>
		  <th nzAlign='center'>更多音源</th>
	      <th nzAlign='center'>发行公司</th>
	      <th nzAlign='center'>发行时间</th>
		  <th nzAlign='center'>专辑名称</th>
	      <th nzAlign='center'>歌手名称</th>
		  <th nzAlign='center'>指数</th>
		  <th nzAlign='center'>来源</th>
	      <th nzAlign='center'>aduioID</th>
	      <th nzWidth='80px' nzAlign='center'>查看</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of basicTable.data; let i = index">
		  <td nzAlign='center' style="cursor: pointer;" (click)='copy(item.songname||item.songName)'>
			  <span nz-tooltip [nzTooltipTitle]="'点击复制'">
				  {{item.songname||item.songName}}
			  </span>
			  <img src="../../../assets/img/yuanchang.svg" class="icon" style='margin-left: 4px;' *ngIf='listRes[i][0].IsOriginal==1'/>
			 <!-- <img *ngIf='item.pay_type==0' src="../../../assets/img/0_round.svg" class="icon" nz-tooltip [nzTooltipTitle]="'pay_type'"/>
			  <img *ngIf='item.pay_type==1' src="../../../assets/img/1_round.svg" class="icon" nz-tooltip [nzTooltipTitle]="'pay_type'" />
			  <img *ngIf='item.pay_type==2' src="../../../assets/img/2_round.svg" class="icon" nz-tooltip [nzTooltipTitle]="'pay_type'" />
			  <img *ngIf='item.pay_type==3' src="../../../assets/img/3_round.svg" class="icon" nz-tooltip [nzTooltipTitle]="'pay_type'" />
				<span *ngIf='item.pay_type!=3&&item.pay_type!=2&&item.pay_type!=1&&item.pay_type!=0' nz-tooltip [nzTooltipTitle]="'pay_type'" style='font-weight: bold;font-size: 12px;'>
					{{item.pay_type}}
				</span> -->
		  </td>
		  <td nzAlign='center'>
		  	{{listRes[i][0].Grp?listRes[i][0].Grp.length:''}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{item.company?item.company:''}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{item.publish_time?item.publish_time=='无'?'':common.getDate(item.publish_time):''}}	 
		  </td>
		  <td nzAlign='center'>
		  	{{item.album_name}}
		  </td>
		  <td nzAlign='center'>
			<div *ngFor="let s of item.singerId; let si = index" (click)='openSingerHome(s.id)' style="cursor: pointer;">
				{{s.name}}{{si!=item.singerId.length-1?',':''}}
			</div>
		  </td>
		  <td nzAlign='center' style="cursor: pointer;" (click)='reloadExponent(item)'>
			  <span nz-tooltip [nzTooltipTitle]="'点击刷新'">
			  <span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
				  <div>
				  	{{item.exponent?common.toThousands(item.exponent):0}}
				  </div>
			  <div style="color: red;">
				  {{item.newExponent?common.toThousands(item.newExponent):''}}
			  </div>
			  </span>
		  </td>
		  <td nzAlign='center' style="cursor: pointer;">
		  		{{common.FreeSongsSource(item.audioSourceID)}}  
		  </td>
		  <td nzAlign='center' style="cursor: pointer;" (click)='copy(item.audio_id)'>
		  		<span nz-tooltip [nzTooltipTitle]="'点击复制'">
		  			{{item.audio_id}}  
		  		</span>
		  </td>
		  <td nzAlign='center' style="color:blue;cursor: pointer;" (click)='openLink(item)'>
		  	查看
		  </td>
	    </tr>
	  </tbody>
	</nz-table>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='list.length>0&&pageTotal>25'>
		<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal" (nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
