<div class="brand-user">
  <nz-table
    #basicTable
    [nzData]="brandSongList"
    nzTitle=""
    [nzFrontPagination]="false"
    [nzScroll]="{ x: '600px' }"
  >
    <thead>
      <tr>
        <th nzAlign="center">QQ</th>
        <th nzAlign="center">Mid</th>
        <th nzAlign="center">歌名</th>
        <th nzAlign="center">指数</th>
        <!-- <th nzAlign="center">指数排名</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data; let i = index">
        <td nzAlign="center">
          <div class="item-left">
            <img
              [src]="item.url"
              alt=""
              style="width: 80px; height: 80px; border-radius: 6px"
            />
            <div class="left-icon" (click)="listenMusic(item.audio_url, i)">
              <img
                *ngIf="!item.isPlay"
                src="../../../assets/img/play-purple.png"
                style="width: 100%; height: 100%"
              />
              <img
                *ngIf="item.isPlay"
                src="../../../assets/img/pause-purple.png"
                style="width: 100%; height: 100%"
              />
            </div>
          </div>
        </td>
        <td nzAlign="center">
          {{ item.mid }}
        </td>
        <td
          nzAlign="center"
          nz-tooltip
          [nzTooltipTitle]="'去qq搜索'"
          style="color: blue; cursor: pointer"
          (click)="toSearchQQ(item)"
        >
          {{ item.name }}
        </td>
        <td nzAlign="center">
          {{ common.toThousands(item.yesterday_index) }}
        </td>
        <!-- <td nzAlign="center">
          {{ common.toThousands(item.yesterday_rank) }}
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
