<div class="song-rating">
  <div class="song-rating-box">
    <div class="top-btn">
      <div *ngFor="let item of tagList" (click)="onSelect(item)" class="tagList-item" [ngClass]="{'tagList-itemActive': item.name==selectItem}">
        {{item.name}}
	  </div>
    </div>
  </div>
  <div *ngIf='selectItem=="投票打分"' style="padding-bottom:140px;">
	  
	  <div style="display: flex;">
		  <div *ngFor="let item of tagList2" (click)="onSelect2(item)" class="tagList-item" [ngClass]="{'tagList-itemActive': item.name==selectItem2}">
		    {{item.name}}
		  </div>
	  </div>
	  
	  <div *ngIf='selectItem2=="已投票"'>
		  <nz-table #basicTable [nzData]='yes' nzTitle='' [nzFrontPagination]='false'>
		  	<thead>
		  		<tr>
		  			<th nzAlign='center'></th>
		  			<th nzAlign='center'>歌曲名称</th>
		  			<th nzAlign='center'>分数</th>
		  			<th nzAlign='center'>上传时间</th>
		  			<th nzAlign='center'>推荐理由</th>
		  			<th nzAlign='center'>投票打分</th>
		  		</tr>
		  	</thead>
		  	<tbody>
		  		<tr *ngFor="let item of basicTable.data; let i = index">
					<td>
						<div style="display: flex;align-items: center;">
							<span (click)='playMusic(item)' *ngIf='!item.isplay' nz-icon nzType="play-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
							<span (click)='pauseMusic(item)' *ngIf='item.isplay' nz-icon nzType="pause-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
						</div>
					</td>
		  			<td nzAlign='center'>
						<div style="display: flex;align-items: center;justify-content: center;">
							<div>
								{{item.Title}}
							</div>
							<div style="margin-left: 18px;" (mouseenter)='mouseenter(item)' (mouseleave)='mouseleave(item)' *ngIf='item.Lyric'>
								<img src="/assets/img/lyric-green.png" style="width: 20px;height: 20px;">
								<!-- 鼠标移入加载歌词 -->
								<ngx-lyric-all *ngIf='item.lyricShow' [songName]='item.Title'
									[lyricReadly]='true' [lyricData]='item.Lyric'></ngx-lyric-all>
							</div>
						</div>
		  			</td>
		  			<td nzAlign='center'>
						<div style="color: #ec3333;">
							好听：<span style="color: #ec3333;">{{item.lackey}}</span>
						</div>
						<div style="color: #41d741;">
							不好听：<span style="color: #41d741;">{{item.nlackey}}</span>
						</div>
		  			</td>
		  			<td nzAlign='center'>
						{{common.timeFormat(item.AddTime)}}
		  			</td>
					<td nzAlign='center'>
						{{item.Reason}}
					</td>
		  			<td nzAlign='center'>
						<button nzSize='small' nz-button nzType="primary" disabled>好听</button>
						<button nzSize='small' nz-button nzType="primary" nzDanger disabled>不好听</button>
		  			</td>
		  		</tr>
		  	</tbody>
		  </nz-table>
	  </div>
	  <div *ngIf='selectItem2=="未投票"'>
	  		  <nz-table #basicTable [nzData]='no' nzTitle='' [nzFrontPagination]='false'>
	  		  	<thead>
	  		  		<tr>
						<th nzAlign='center'></th>
	  		  			<th nzAlign='center'>歌曲名称</th>
	  		  			<th nzAlign='center'>分数</th>
	  		  			<th nzAlign='center'>上传时间</th>
	  		  			<th nzAlign='center'>推荐理由</th>
	  		  			<th nzAlign='center'>投票打分</th>
	  		  		</tr>
	  		  	</thead>
	  		  	<tbody>
	  		  		<tr *ngFor="let item of basicTable.data; let i = index">
						<td>
							<div style="display: flex;align-items: center;">
								<span (click)='playMusic(item)' *ngIf='!item.isplay' nz-icon nzType="play-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
								<span (click)='pauseMusic(item)' *ngIf='item.isplay' nz-icon nzType="pause-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
							</div>
						</td>
	  		  			<td nzAlign='center'>
	  						<div style="display: flex;align-items: center;justify-content: center;">
	  							<div>
	  								{{item.Title}}
	  							</div>
	  							<div style="margin-left: 18px;" (mouseenter)='mouseenter(item)' (mouseleave)='mouseleave(item)' *ngIf='item.Lyric'>
	  								<img src="/assets/img/lyric-green.png" style="width: 20px;height: 20px;">
	  								<!-- 鼠标移入加载歌词 -->
	  								<ngx-lyric-all *ngIf='item.lyricShow' [songName]='item.Title'
	  									[lyricReadly]='true' [lyricData]='item.Lyric'></ngx-lyric-all>
	  							</div>
	  						</div>
	  		  			</td>
	  		  			<td nzAlign='center'>
							<div style="color: #ec3333;">
								好听：<span style="color: #ec3333;">{{item.lackey}}</span>
							</div>
							<div style="color: #41d741;">
								不好听：<span style="color: #41d741;">{{item.nlackey}}</span>
							</div>
	  		  			</td>
	  		  			<td nzAlign='center'>
	  						{{common.timeFormat(item.AddTime)}}
	  		  			</td>
						<td nzAlign='center'>
							{{item.Reason}}
						</td>
	  		  			<td nzAlign='center'>
	  						<button nzSize='small' nz-button nzType="primary" [disabled]='loading' (click)='Referendum(item,0,i)'>好听</button>
	  						<button nzSize='small' nz-button nzType="primary" [disabled]='loading' nzDanger (click)='Referendum(item,1,i)'>不好听</button>
	  		  			</td>
	  		  		</tr>
	  		  	</tbody>
	  		  </nz-table>
	  </div>
  </div>
  <div *ngIf='selectItem=="上传歌曲"'>
  		<div class="uploadFile-box">
  		  	<ngx-upload-file (onFileChild)='onFile($event)' #uploadFileRef></ngx-upload-file>
			
			<div style='display:flex;'>
				<nz-input-group class="ant-input-affix-wrapper-textarea-with-clear-btn" style="margin-right: 12px;">
						<div>歌词</div>
				      <textarea nz-input [(ngModel)]="LyricText" placeholder="请填写歌词" [nzAutosize]='{"minRows":5,"maxRows":5}'></textarea>
				</nz-input-group>
				<nz-input-group class="ant-input-affix-wrapper-textarea-with-clear-btn">
					<div>推荐理由</div>
				      <textarea nz-input [(ngModel)]="ReasonText" placeholder="请填写推荐理由" [nzAutosize]='{"minRows":5,"maxRows":5}'></textarea>
				</nz-input-group>
			</div>
			<div style='display:flex;justify-content: center;margin-top: 18px;'>
				<button nz-button nzType="primary" [disabled]='loading' (click)='uploadFile()' style="width: 240px;">上传歌曲</button>
			</div>
  		</div>
  </div>
  <!-- 播放器 -->
  <div class="play" [ngClass]="{hide : !isPlay}">
	  <div id='time' style='font-size:12px;'></div>
	  <div id='timeStart' style='font-size:12px;z-index:111;'>0:00</div>
	  <div id='timeEnd' style='font-size:12px;z-index:111;'>0:00</div>
	  <div id='waveform' ></div>
  	<!-- <audio id='audio' controls [src]="audioSrc" (play)='play()' (pause)='pause()'></audio> -->
  </div>
  <ngx-loading *ngIf="loading"></ngx-loading>
</div>
