<div class="douyin">
  <div style='display: flex;'>
	  <nz-select [nzDropdownMatchSelectWidth]='false' style="width: 100px;margin-right: 15px;" [(ngModel)]="tag" (ngModelChange)='ngModelTag($event)'>
	  	<nz-option *ngFor="let item of tagList;" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
	  </nz-select>
    <ngx-search
      [searchValue]="searchValue"
      [searchHolder]="searchHolder"
      (childSearch)="search($event)"
    >
    </ngx-search>
  </div>
  <!-- <nz-empty style="margin-top: 160px"></nz-empty> -->
  <div class="list">
    <nz-table
      #basicTable
      [nzData]="hotValue"
      [nzPageSize]="10"
      [nzShowPagination]="true"
      [nzTotal]="total"
      [nzPageIndex]="page"
      [nzShowQuickJumper]="true"
      (nzPageIndexChange)="pageChange($event)"
      [nzFrontPagination]="false"
      [nzOuterBordered]="false"
    >
      <thead>
        <tr>
          <th nzAlign="center">排名</th>
          <th nzAlign="center">热点事件</th>
          <th nzAlign="center">热度值</th>
          <th nzAlign="center">热度趋势</th>
          <th nzAlign="center">相关视频</th>
          <th nzAlign="center">分类</th>
          <th nzAlign="center">展示详情</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data; let i = index">
          <tr>
            <td nzAlign="center">
              {{ i + 1 }}
            </td>
            <td nzAlign="center">
              {{ data.sentence }}
            </td>
            <td nzAlign="center">
              {{ (data.hot_score / 10000).toFixed(1) + "万" }}
            </td>
            <td nzAlign="center">
              <div
                style="
                  /* width: 150px; */
                  height: 60px;
                  display: flex;
                  align-self: center;
                  justify-content: center;
                "
              >
                <div
                  echarts
                  [options]="data.options"
                  class="demo"
                  style="width: 165px; height: 60px; margin-top: 15px"
                ></div>
              </div>
            </td>
            <td nzAlign="center">
              {{ data.video_count }}
            </td>
            <td nzAlign="center">
              {{ data.sentence_tag_name }}
            </td>
            <td nzAlign="center">
              <button
                nz-button
                nzType="primary"
                (click)="onExpandChange(data)"
                *ngIf="!data.isexpand"
              >
                展示详情
              </button>
              <button
                nz-button
                nzType="primary"
                (click)="onExpandChange(data)"
                *ngIf="data.isexpand"
              >
                收起
              </button>
            </td>
          </tr>
          <tr [nzExpand]="data.isexpand">
            <ngx-dyHotDetail
              *ngIf="data.sentenceDetail"
              [result]="data"
            ></ngx-dyHotDetail>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
<ngx-loading *ngIf="loading"></ngx-loading>
