.formsLabel {
    white-space: nowrap;
    font-size: 14px;
    color: #8c8c8c;
  }
  .picTip {
    cursor: pointer;
    margin-left: 8px;
    display: flex;
    align-items: center;
  }
    .upColor {
      color: #c20000;
    }
    .downColor {
      color: #cbcb00;
    }