<div class="home" *ngIf='ismobile===false'>
	<div class="home-top">
		<!-- tab栏 -->
		<div class="tagList">
			<div *ngFor="let item of tagList" (click)="onSelect(item)" class="tagList-item"
				[ngClass]="{'tagList-itemActive': item.name==selectItem}">
					{{item.name}}
			</div>
		</div>
		<!-- 搜索 -->
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)' (childInput)='childInput($event)' [searchWidth]='"290px"' *ngIf="selectItem2!='大陆音著协'">
		</ngx-search>
		<div *ngIf="selectItem2=='大陆音著协'" class="search" style="width: 290px;">
				<input nz-input placeholder="歌曲名称" class="search-ipt" style="width: 290px;" [(ngModel)]='searchkeyword.keyword' (focus)="focus($event)"/>
				<input nz-input placeholder="词作者" class="search-ipt " style="width: 290px;margin-top: 8px;" [(ngModel)]='searchkeyword.acsa' (focus)="focus($event)"/>
				<span nz-icon nzType="search" nzTheme="outline" style="font-size: 20px; color: #08c;" class="search-icon" (click)="searchMcscSearchCN()"></span>
		</div>
		
	</div>
	<div class="home-top">
	<!-- 二级tab -->
	<div class="tagList tagList2" *ngIf='tagNow' [ngClass]='{"tagList3":selectItem2=="大陆音著协"}'>
		<div *ngFor='let citem of tagNow.child' (click)="onSelect2(citem)" class="tagList-item" style="font-size: 12px;"
			[ngClass]="{'tagList-itemActive2': citem.name==selectItem2}">
			{{citem.name}}
		</div>
	</div>
	<div *ngIf='selectItem2 == "港台音著协"' style='position: absolute;right:0;display: flex;'>
		<div *ngIf='traditionalArr.length>0'>
			<div style='color:#ccc;font-size:12px;'>点击需要替换的文字</div>
			<div style='display:flex;'>
				<div *ngFor="let z of traditionalArr;let i = index;" class='zi' (click)='changeZi(z,i)' style='margin-right:10px;border:1px solid #ccc;padding:4px;cursor: pointer;'>
					{{z}}
				</div>
			</div>
		</div>
		<button nz-button nzType="primary" (click)='changeCC()'>切换繁体字</button>
		
	</div>
	</div>
	<!-- 数据 -->
	<div class="home-main" [ngClass]='{"home-main2":selectItem2!=""}'>
		<ngx-qq *ngIf='selectItem=="QQ音乐"' [qqList]="qqList" (change)="qqSrcChange($event)"></ngx-qq>
		<ngx-v3 *ngIf='selectItem2=="酷狗V3"' [kugouV3List]="kugouV3List"></ngx-v3>
		<ngx-newV3 *ngIf='selectItem2=="多版本"' [kugouNewV3List]="kugouNewV3List"></ngx-newV3>
		<ngx-kuwo *ngIf='selectItem=="酷我音乐"' [kuwoList]="kuwoList"></ngx-kuwo>
		<ngx-wangyiyun *ngIf='selectItem=="网易云"' [wangyiyunList]="wangyiyunList"></ngx-wangyiyun>
		<!-- <ngx-lsdd *ngIf='selectItem=="铃声多多"' [lsddList]="lsddList" (change)="lsddSrcChange($event)"></ngx-lsdd> -->
		<ngx-enlightenment-top20 *ngIf='selectItem=="唱将音乐"' [enlightenmentList]="enlightenmentList"></ngx-enlightenment-top20>
		<ngx-fufu-search *ngIf='selectItem=="雷达音乐"' [fufuList]="fufuList"></ngx-fufu-search>
		<ngx-fufu-hot *ngIf='selectItem=="雷达热搜"' [fufuHotList]="fufuHotList"></ngx-fufu-hot>
		<ngx-fufu-singer *ngIf='selectItem=="雷达艺人"' [fufuSingerList]="fufuSingerList"></ngx-fufu-singer>
		<ngx-copyright *ngIf='selectItem=="词曲版权"' [copyrightList]="copyrightList" (change)="copyrightSrcChange($event)"></ngx-copyright>
		<ngx-mcsc-search-cn *ngIf='selectItem2=="大陆音著协"' [McscSearchCNList]="McscSearchCNList"></ngx-mcsc-search-cn>
		<ngx-mcsc-search-hk *ngIf='selectItem2=="港台音著协"' [McscSearchHKList]="McscSearchHKList"></ngx-mcsc-search-hk>
		<ngx-mcsc-search-zg *ngIf='selectItem2=="中国音集协"' [McscSearchZGList]="McscSearchZGList"></ngx-mcsc-search-zg>
		<ngx-tme-map_hot *ngIf='selectItem2=="最热"' [tmeMapHotList]="tmeMapHotList"></ngx-tme-map_hot>
		<ngx-tme-map_hot *ngIf='selectItem2=="最新"' [tmeMapHotList]="tmeMapNewList"></ngx-tme-map_hot>
		<ngx-tme-map_hot *ngIf='selectItem2=="飙升"' [tmeMapHotList]="tmeMapRiseList"></ngx-tme-map_hot>
		<ngx-ISRC *ngIf='selectItem=="ISRC"' [ISRCList]="ISRCList"></ngx-ISRC>
	</div>
	<!-- 分页 -->
	<div class="pagination">
		<span *ngIf='selectItem=="QQ音乐"&&qqList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='qqPageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem2=="酷狗V3"&&kugouV3List.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='kugouV3PageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="酷我音乐"&&kuwoList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='kuwoPageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="网易云"&&wangyiyunList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='wangyiyunPageNext()' style="cursor: pointer;"></span>
		<nz-pagination *ngIf='selectItem=="唱将音乐"&&enlightenmentList.length>0' [nzPageIndex]="enlightenmentPage" [nzPageSize]='20' [nzTotal]="enlightenmentTotal"
			(nzPageIndexChange)='enlightenmentPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="雷达音乐"&&fufuList.length>0' [nzPageIndex]="fufuPage" [nzPageSize]='10' [nzTotal]="fufuTotal"
			(nzPageIndexChange)='fufuPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="雷达热搜"&&fufuHotList.length>0' [nzPageIndex]="fufuHotPage" [nzPageSize]='10' [nzTotal]="fufuHotTotal"
			(nzPageIndexChange)='fufuHotPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="雷达艺人"&&fufuSingerList.length>0' [nzPageIndex]="fufuSingerPage" [nzPageSize]='10' [nzTotal]="fufuSingerTotal"
			(nzPageIndexChange)='fufuSingerPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="词曲版权"&&copyrightList.length>0' [nzPageIndex]="copyrightPage" [nzPageSize]='10' [nzTotal]="copyrightTotal"
			(nzPageIndexChange)='copyrightPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="云图"&&selectItem2=="最热"&&tmeMapHotList.length>0' [nzPageIndex]="tmeMapHotPage" [nzPageSize]='5' [nzTotal]="tmeMapHotTotal"
			(nzPageIndexChange)='tmeMapHotPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="云图"&&selectItem2=="最新"&&tmeMapNewList.length>0' [nzPageIndex]="tmeMapNewPage" [nzPageSize]='5' [nzTotal]="tmeMapNewTotal"
			(nzPageIndexChange)='tmeMapNewPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="云图"&&selectItem2=="飙升"&&tmeMapRiseList.length>0' [nzPageIndex]="tmeMapRisePage" [nzPageSize]='5' [nzTotal]="tmeMapRiseTotal"
			(nzPageIndexChange)='tmeMapRisePageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="ISRC"&&ISRCList.length>0' [nzPageIndex]="ISRCPage" [nzPageSize]='ISRCPageSize' [nzTotal]="ISRCTotal"
			(nzPageIndexChange)='ISRCPageNext($event)' nzShowQuickJumper></nz-pagination>
		<nz-pagination *ngIf='selectItem=="音著协"&&selectItem2=="中国音集协"&&McscSearchZGList.length>0' [nzPageIndex]="McscSearchZGPage" [nzPageSize]='McscSearchZGPageSize' [nzTotal]="McscSearchZGTotal"
			(nzPageIndexChange)='McscSearchZGPageNext($event)' nzShowQuickJumper></nz-pagination>
		<!-- <span *ngIf='selectItem=="铃声多多"&&lsddList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='lsddPageNext()' style="cursor: pointer;"></span> -->
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
	<!-- 歌词 -->
	<ngx-lyric #lyric [lyricData]='lyricData'></ngx-lyric>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{hide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (play)='play($event)' (pause)='pause()' (timeupdate)="timeupdate($event)">
		</audio>
	</div>
</div>
<div class="home" *ngIf='ismobile===true' style="padding:10px;overflow-x: hidden;padding-bottom:100px;">
	<div class="home-top" style="margin-bottom: 12px;justify-content: center;">
		<!-- tab栏 -->
		<nz-select [ngModel]="selectItem" (ngModelChange)='ngModelChange($event)'>
		      <nz-option *ngFor="let item of tagListPhone" [nzValue]="item.name" [nzLabel]="item.name"></nz-option>
		</nz-select>
	</div>
	<!-- 搜索 -->
	<ngx-search [searchValue]='searchValue' [searchWidth]='"100%"' [searchHolder]='searchHolder' (childSearch)='search($event)'>
	</ngx-search>
	<!-- 数据 -->
	<div class="home-main">
		<ngx-qq-phone *ngIf='selectItem=="QQ音乐"' [qqList]="qqList" (change)="qqSrcChange($event)"></ngx-qq-phone>
		<ngx-v3-phone *ngIf='selectItem=="酷狗V3"' [kugouV3List]="kugouV3List"></ngx-v3-phone>
		<ngx-kuwo-phone *ngIf='selectItem=="酷我音乐"' [kuwoList]="kuwoList"></ngx-kuwo-phone>
		<ngx-wangyiyun-phone *ngIf='selectItem=="网易云"' [wangyiyunList]="wangyiyunList"></ngx-wangyiyun-phone>
		<ngx-musician-tx-phone *ngIf='selectItem=="腾讯音乐人"' [musicianTxList]="musicianTxList"></ngx-musician-tx-phone>
	</div>
	<!-- 分页 -->
	<div class="pagination">
		<span *ngIf='selectItem=="QQ音乐"&&qqList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='qqPageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="酷狗V3"&&kugouV3List.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='kugouV3PageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="网易云"&&wangyiyunList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='wangyiyunPageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="酷我音乐"&&kuwoList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='kuwoPageNext()' style="cursor: pointer;"></span>
		<span *ngIf='selectItem=="腾讯音乐人"&&musicianTxList.length>0' nz-icon nzType="down-circle" nzTheme="twotone"
			(click)='musicianTxPageNext()' style="cursor: pointer;"></span>
		
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>