<div class="inspiration">
	<div style="display:flex;">
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
		</ngx-search>
		<nz-select style="width: 180px;margin-left:25px;" [nzDropdownMatchSelectWidth]='false' [(ngModel)]="audioNow" (ngModelChange)='ngModelAudio($event)' nzPlaceHolder='选择你的音频'>
			<nz-option *ngFor="let item of myAudioList;" [nzValue]="item.ID" [nzLabel]="item.name"></nz-option>
		</nz-select>
	</div>
	<div class="uploadFile-box">
		<div style='font-size: 12px;'>上传你的音频</div>
	    <ngx-upload-file (onFileChild)='onFile($event)'></ngx-upload-file>
	</div>
	<nz-empty *ngIf="videoList.length==0" style="margin-top: 160px;"></nz-empty>
	<div class='inspiration-videolist'>
		<div *ngFor='let item of videoList;' style='padding:10px;margin-bottom:10px;display: flex;border: 1px dashed #ccc; border-radius: 6px;'>
			<div>
				<video [src]="item.url" style='height:320px;width:180px;background-color: #000;' controls></video>
				<div [nzTooltipTitle]="item.name" nz-tooltip style='width:180px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;'>
					{{item.name}}
				</div>
			</div>
			<div (click)='composeVideo(item)' *ngIf='!item.composeSrc' style="margin-left: 10px;background-color: #000;height:320px;width:180px;color:#fff;display: flex;align-items: center;justify-content: center;cursor: pointer;">
				合成视频
			</div>
			<div *ngIf='item.composeSrc' style="margin-left: 10px;">
				<video [src]="item.composeSrc" style='height:320px;width:180px;background-color: #000;' controls></video>
				<div>合成成功</div>
			</div>
		</div>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>