<nz-empty
  *ngIf="copyrightList.length == 0"
  style="margin-top: 160px"
></nz-empty>
<div class="list">
  <div *ngFor="let item of copyrightList; let i = index">
    <div class="list-item">
      <div class="item-left">
        <div class="left-avatar" (click)="playAudio(item.mp3Url, i)">
          <img
            [src]="item.photo"
            style="width: 100%; height: 100%"
            onerror='this.src="/assets/img/imgError.png"'
          />
          <span
            *ngIf="!item.isPlay && item.mp3Url"
            nz-icon
            nzType="play-circle"
            nzTheme="outline"
            class="avatar-play"
          ></span>
          <span
            *ngIf="item.isPlay && item.mp3Url"
            nz-icon
            nzType="pause-circle"
            nzTheme="outline"
            class="avatar-play"
          ></span>
        </div>
        <div class="left-text">
          <div class="title-area">
            <!-- 艺人名字 -->
            <div
              nz-tooltip
              [nzTooltipTitle]="item.demoName"
              class="title u-line-1"
              (click)="common.copy(item.demoName)"
            >
              {{ item.demoName }}
            </div>
            <!-- 介绍 -->
            <div
              nz-tooltip
              [nzTooltipTitle]="item.applicationRemarks"
              style="
                margin-left: 12px;
                max-width: 280px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              "
            >
              {{ item.applicationRemarks }}
            </div>
          </div>
          <div class="subTitle">
            <div style="display: flex; align-items: center">
              <!-- Demo发布时间 -->
              <div nz-tooltip [nzTooltipTitle]="'Demo发布时间'">
                {{ common.timeFormat(item.publicTime) }}
              </div>
              <span
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="color: #ccc; margin: 0 2px"
              ></span>
              <div nz-tooltip [nzTooltipTitle]="'词作者'">
                {{ item.lyricAuthors }}
              </div>
              <span
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="color: #ccc; margin: 0 2px"
              ></span>
              <div nz-tooltip [nzTooltipTitle]="'曲作者'">
                {{ item.musicAuthors }}
              </div>
              <span
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="color: #ccc; margin: 0 2px"
              ></span>
              <div nz-tooltip [nzTooltipTitle]="'翻唱潜力分'">
                <img src="../../../assets/img/shuangzhexian.png" class="icon" />
                {{ item.digMusicScore }}
              </div>
              <span
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="color: #ccc; margin: 0 2px"
              ></span>
              <div nz-tooltip [nzTooltipTitle]="'原唱近三月播放排行'">
                <img src="../../../assets/img/zhexiandian.png" class="icon" />
                {{ item.playCntRank }}
              </div>
            </div>
          </div>
          <div class="subTitle">
            <div style="display: flex; align-items: center">
              <!-- 买断价格 -->
              <div
                *ngIf="item.DemoTradePrice.buyoutPrice"
                nz-tooltip
                [nzTooltipTitle]="'买断价格'"
                style="display: flex; align-items: center; margin-right: 4px"
              >
                <img src="../../../assets/img/price-default.png" class="icon" />
                <div>
                  {{common.toThousands(item.DemoTradePrice.buyoutPrice) }}
                </div>
              </div>
              <div
                class="hideText"
                nz-tooltip
                [nzTooltipTitle]="
                  '买断详情：' + item.DemoTradePrice.buyoutSubText
                "
              >
                {{ item.DemoTradePrice.buyoutSubText }}
              </div>
              <span
                *ngIf="
                  item.DemoTradePrice.splitPrice &&
                  item.DemoTradePrice.buyoutPrice
                "
                nz-icon
                nzType="right"
                nzTheme="outline"
                style="color: #ccc; margin: 0 2px"
              ></span>
              <div
                *ngIf="item.DemoTradePrice.splitPrice"
                nz-tooltip
                [nzTooltipTitle]="'分成价格'"
                style="display: flex; align-items: center; margin-right: 4px"
              >
                <img src="../../../assets/img/price-default.png" class="icon" />
                <div>
                  {{ common.toThousands(item.DemoTradePrice.splitPrice) }}
                </div>
              </div>
              <div
                class="hideText"
                nz-tooltip
                [nzTooltipTitle]="'分成详情：' + item.DemoTradePrice.splitSubText">
                {{ item.DemoTradePrice.splitSubText }}
              </div>
				<div style="flex: 1; cursor: pointer;color: blue;margin-left: 8px;" (click)="showRadio(item)">
					 {{ item.DyCoverSong.length ? "DY高播翻唱视频" : "暂无" }}
				</div>
            </div>
          </div>
        </div>
      </div>
    
      <div style="flex: 1;display: flex;">
        <div style="flex:1;flex-shrink: 0;"
          nz-tooltip
          [nzTooltipTitle]="'词版权公司'"
          [nzTooltipPlacement]="'topLeft'"
        >
          <!-- //词版权公司 -->
		  <div *ngFor="let lyric of item.lyricCompanyName;" style="cursor: pointer;" (click)='openCompay(lyric.companyId)'>
			 <div class="hiddenText">
			  	{{ lyric.companyName }}
			  </div>
			  <div style='display: flex;color: #000;' *ngIf='lyric.lyricPercent!=0'>
			  	
			  	<div>
					词
					{{(lyric.lyricPercent*100).toFixed(2)}}%
			  	</div>
			  </div>
		  </div>
          
        </div>
		<div style="flex:1;flex-shrink: 0;margin-left: 18px;"
          nz-tooltip
          [nzTooltipTitle]="'曲版权公司'"
          nzTooltipPlacement="topLeft"
        >
          <!-- //曲版权公司 -->
          <div *ngFor="let music of item.musicCompanyName;" style="cursor: pointer;" (click)='openCompay(music.companyId)'>
          		<div class="hiddenText">
					{{ music.companyName }}
				</div>
				<div style='display: flex;color: #000;' *ngIf='music.musicPercent!=0'>
					<div>
						曲
						{{(music.musicPercent*100).toFixed(2)}}%
					</div>
				</div>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: flex-end">
        <div
          style="cursor: pointer"
          nz-tooltip
          [nzTooltipTitle]="'歌曲ID'"
          (click)="common.copy(item.trackId)"
        >
          {{ item.trackId }}
        </div>
        <div
          style="cursor: pointer"
          nz-tooltip
          [nzTooltipTitle]="'平台ID'"
          (click)="common.copy(item.demoId)"
        >
          {{ item.demoId }}
        </div>
        <div
          *ngIf="item.fileUrl"
          style="cursor: pointer; margin-top: 4px; color: blue"
          (click)="dowloadLyric(item.fileUrl)"
        >
          下载歌词
        </div>
      </div>
    </div>
    <div
      *ngIf="item.isShowRadio"
      style="
        display: flex;
        overflow-x: scroll;
        background: linear-gradient(
          181.2deg,
          rgb(181, 239, 249) 10.5%,
          rgb(254, 254, 254) 86.8%
        );
        padding: 16px;
        border-radius: 8px;
      "
    >
      <div *ngFor="let items of item.DyCoverSong; let i = index">
        <video
          [src]="items.videoUrl"
          style="padding: 0 10px"
          width="250px"
          height="408px"
          id="v"
          controls
        ></video>
        <div
          style="
            width: 100%;
            font-size: 14px;
            padding: 0 10px;
            text-align: justify;
            width: 250px;
            margin-top: 15px;
          "
        >
          <div style="margin-top: 4px">作者名：{{ items.singerName }}</div>
          <div style="margin-top: 4px">喜欢数：{{ items.likeCount }}</div>
          <div style="margin-top: 4px">
            简介：{{ items.desc ? items.desc : "无" }}
          </div>
          <!-- <div style="cursor: pointer">查看视频</div> -->
          <div style="display: flex; justify-content: center; margin-top: 15px">
            <button
              *ngIf="items.videoUrl"
              nz-button
              nzType="primary"
              nzGhost
              (click)="ToRadio(items.dyId)"
            >
              查看视频
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #payMode>
  <div>1=1.0</div>
  <div>2=2.0</div>
  <div>3=3.0</div>
  <div>其他=免费</div>
</ng-template>
