<div class="freeSongs">
	<div class="freeSongs-title">
		<div>
			QQ免费歌曲
		</div>
		<div style="display: flex;align-items: center;">
			<!-- <label nz-checkbox [(ngModel)]="checked" (ngModelChange)='ngModelChangeCheckBox($event)'>新增歌曲</label> -->
			<!-- <div style="width: 16px;"></div> -->
			<nz-select style="width: 120px;margin-right: 15px;" [(ngModel)]="sort" (ngModelChange)='ngModelSort($event)'>
				<nz-option *ngFor="let item of sortList;" [nzValue]="item.source" [nzLabel]="item.source"></nz-option>
			</nz-select>

			<nz-select style="width: 120px;" [(ngModel)]="type" (ngModelChange)='ngModelChange($event)'>
				<nz-option *ngFor="let item of typeList;" [nzValue]="item.name" [nzLabel]="item.name"></nz-option>
			</nz-select>
			<div style="width: 16px;"></div>
			<!-- 搜索 -->
			<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
			</ngx-search>
		</div>
	</div>
	<nz-table #basicTable [nzData]="list" nzTitle='' [nzFrontPagination]='false'>
		<thead>
			<tr>
				<th nzAlign='center'></th>
				<th nzAlign='center'>歌曲名称</th>
				<th nzAlign='center'>专辑名称</th>
				<th nzAlign='center'>歌手名称</th>
				<th nzAlign='center'>发行公司</th>
				<th nzAlign='center' (click)='publish_timeClick()' style='cursor: pointer;'>
					<div>
						  发行时间
					  </div>
					<span *ngIf='publish_timeOrderby == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='publish_timeOrderby == ""' nz-icon nzType="line" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='publish_timeOrderby == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
				</th>
				<th nzAlign='center'>评论数</th>
				<th nzAlign='center'>收藏数</th>
				<th nzAlign='center'>排名</th>
				<th nzAlign='center' (click)='exponentClick()' style='cursor: pointer;'>
					<div>
						 指数
					</div>
					<span *ngIf='exponentOrderby == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='exponentOrderby == ""' nz-icon nzType="line" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='exponentOrderby == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
				</th>
				<th nzAlign='center'>来源</th>
				<th nzAlign='center' nzWidth='80px'>收听数</th>
				<th nzWidth='80px' nzAlign='center'>查看</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of basicTable.data; let i = index">
				<td nzAlign='center'>
					<span (click)='playMusic(item)' *ngIf='!item.isplay&&item.musicUrl' nz-icon nzType="play-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
					<span (click)='pauseMusic(item)' *ngIf='item.isplay&&item.musicUrl' nz-icon nzType="pause-circle" nzTheme="outline" style="cursor: pointer;font-size: 16px;"></span>
				</td>
				<td nzAlign='center' style="cursor: pointer;" (click)='copy(item.name)'>
					<span nz-tooltip [nzTooltipTitle]="'点击复制'">
						{{item.name}}
					</span>
				</td>
				<td nzAlign='center'>
					<div (click)='openAlbum(item.album.mid)' style="color:rgba(0, 0, 0, 0.6);cursor: pointer;text-decoration: underline;">
						{{item.album?item.album.name:''}}
					</div>
				</td>
				<td nzAlign='center'>
					<div *ngFor="let s of item.singer;" style="color:rgba(0, 0, 0, 0.6);cursor: pointer;text-decoration: underline;" (click)='openSinger(s.mid)'>
						{{s.name?s.name:''}}
					</div>
				</td>
				<td nzAlign='center' style="color:rgba(0, 0, 0, 0.6);font-size: 12px;">
					<div style="text-decoration: underline;cursor: pointer;" (click)='openCompay(item.publisher_id)'>
						{{item.publisher?'外显：'+item.publisher:''}}
					</div>
					<div style="text-decoration: underline;cursor: pointer;margin-top: 8px;"
						(click)='openCompay(item.company_id)'>
						{{item.company?'原始：'+item.company:''}}
					</div>
				</td>
				<td nzAlign='center' >
					{{item.time_public?common.getDate(item.time_public):'无'}}
				</td>
				<td nzAlign='center' >
					{{common.toThousands(item.comment_count)}}
				</td>
				<td nzAlign='center' >
					{{common.toThousands(item.favorite_count)}}
				</td>
				<td nzAlign='center' (click)='reloadExponent(item)' style="cursor: pointer;">
					<span nz-tooltip [nzTooltipTitle]="'点击刷新'">
						<span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
						<div>
							{{item.yesterday_rank?item.yesterday_rank:''}}
						</div>
						<div style="color: red;">
							{{item.today_rank?item.today_rank:''}}
						</div>
					</span>
				</td>
				<td nzAlign='center' (click)='reloadExponent(item)' style="cursor: pointer;">
					<span nz-tooltip [nzTooltipTitle]="'点击刷新'">
						<span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
						<div>
							{{item.yesterday_index?common.toThousands(item.yesterday_index):''}}
						</div>
						<div style="color: red;">
							{{item.today_index?common.toThousands(item.today_index):''}}
						</div>
					</span>
				</td>
				<td nzAlign='center' style="cursor: pointer;">
						{{common.FreeSongsSource(item.audioSourceID)}}  
				</td>
				<td nzAlign='center' (click)='reloadExponent(item)' style="cursor: pointer;">
					<span nz-tooltip [nzTooltipTitle]="'点击刷新'">
						<span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
						<div style="color: red;">
							{{item.cnt?common.toThousands(item.cnt):''}}
						</div>
					</span>
				</td>
				<td nzAlign='center' style="color:blue;cursor: pointer;" (click)='openLink(item)'>
					查看
				</td>
			</tr>
		</tbody>
	</nz-table>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='list.length>0&&pageTotal>50'>
		<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{playhide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (play)='play()' (pause)='pause()'>
		</audio>
	</div>
</div>
