.identification{
	background-color: #fff;
	border-radius: 12px;
	min-height: calc(100vh - 4.75rem - 4rem);
	position: relative;
	.identification-top{
		padding:24px;
		.identification-title{
			font-weight: bold;
			font-size: 16px;
			color: #000;
		}
		.identification-sub{
			margin-top: 18px;
			color: #666;
			font-size: 13px;
		}
	}
	.uploadFile-box{
		margin-top: -18px;padding:0 24px;
	}
}