.autoSearch{
	height: 100%;
	background-color: #fff;
	border-radius: 12px;
	min-height: calc(100vh - 4.75rem - 4rem);
	position: relative;
	.inputBox{
		position: absolute;
		left: 6%;
		top: 0;
		width: 35%;
		min-height: calc(100vh - 4.75rem - 7rem);
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.inputName{
			margin-left: 5px;
			font-size: 14px;
			color: #8c8c8c;
		}
		.input{
			margin-top: 30px;
		}
	}
	.terminal{
		position: absolute;
		left: 54%;
		top: 30px;
		width: 33%;
		height: calc(100vh - 4.75rem - 9rem);
		overflow-y: scroll;
		display: flex;
		justify-content: center;
		.terminalCard{
			margin-top: 30px;
			width: 100%;
			height: 60px;
			padding: 10px;
			font-size: 14px;
			line-height: 20px;
			text-align: center;
			border-radius: 8px;
			box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
		}
	}
	.nzProgress{
		width:97%;
		position: absolute;
		left: 15px;
		bottom: 10px;
	}
}