<div class="douyin">

	<div style='margin-bottom:16px;display: flex;align-items: center;justify-content: space-between;'>
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
		</ngx-search>
		<nz-switch *ngIf='common.highUserList.indexOf(userId) != -1' [ngModel]="type" nzCheckedChildren="我的" nzUnCheckedChildren="全部" (ngModelChange)='ngModelChange()'></nz-switch>
	</div>
	<nz-table #nestedTable [nzData]="list" [nzFrontPagination]='false' *ngIf='tableshow'>
		<thead>
			<tr>
				<th nzAlign='center'></th>
				<th nzAlign='center'>博主名称</th>
				<th nzAlign='center'>UniqueId</th>
				<th nzAlign='center'>抖音主页</th>
				<th nzAlign='center'>艺人主页</th>
				<th nzAlign='center'>点赞数</th>
				<th nzAlign='center'>粉丝数</th>
				<th nzAlign='center'>达人联系方式</th>
				<th nzAlign='center'>加入时间</th>
				<th nzAlign='center'>归属人</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor let-item [ngForOf]="nestedTable.data">
				<tr>
					<td [(nzExpand)]="item.expand"></td>
					<td nzAlign='center'>
						<div style="display: flex;align-items: center;justify-content: center;">
							<div>
								{{item.Nickname}}
							</div>
							<img *ngIf='item.Sex=="男"' src="../../../assets/img/nan.svg" class="icon" />
							<img *ngIf='item.Sex=="女"' src="../../../assets/img/nv.svg" class="icon" />
						</div>
					</td>
					<td nzAlign='center'>{{item.UniqueId}}</td>
					<td nzAlign='center'>
						<a *ngIf='item.homeUrl' href="{{item.homeUrl}}" target='_blank'>主页链接</a>
					</td>
					<td nzAlign='center'>
						<a *ngIf='item.Home' href="{{item.Home}}" target='_blank'>主页链接</a>
					</td>
					<td nzAlign='center'>{{common.toThousands(item.Clicklike)}}</td>
					<td nzAlign='center'>{{common.toThousands(item.Fans)}}</td>
					<td nzAlign='center'>{{item.Information}}</td>
					<td nzAlign='center'>{{common.getDate(item.RecordingTime)}}</td>
					<td nzAlign='center'>
						<div style='display: flex;flex-direction: column;align-items: center;'>
							<div (click)='popUpEdit(item)' *ngIf='userId==item.UserId' style="width: 24px;height: 24px;display: flex;align-items: center;justify-content: center;cursor: pointer;">
								<span nz-icon nzType="edit" nzTheme="outline"></span>
							</div>
							<div>
								{{item.username}}
							</div>
						</div>
					</td>
				</tr>
				<tr [nzExpand]="item.expand">
					<div style="display: flex;">
						<div *ngIf='item.Type'>
							类型：<span class="value">{{item.Type}}</span>
						</div>
						<div *ngIf='item.Style' style="margin-left: 20px;">
							风格：<span class="value">{{item.Style}}</span>
						</div>
						<div *ngIf='item.Characteristics' style="margin-left: 20px;">
							嗓音：<span class="value">{{item.Characteristics}}</span>
						</div>
					</div>
					<div style="display: flex;">
						<div *ngIf='item.Vocals!==""'>
							翻唱唱筹：<span class="value">{{item.Vocals}}</span>
						</div>
						<div *ngIf='item.Split!==""' style="margin-left: 16px;">
							翻唱分成：<span class="value">{{item.Split}}</span>
						</div>
						<div *ngIf='item.Original' style="margin-left: 16px;">
							原创唱筹：<span class="value">{{item.Original}}</span>
						</div>
						<div *ngIf='item.OriginalShare!==""' style="margin-left: 16px;">
							原创分成：<span class="value">{{item.OriginalShare}}</span>
						</div>
						<div *ngIf='item.Fees!==""' style="margin-left: 16px;">
							翻唱视频费用：<span class="value">{{item.Fees}}</span>
						</div>
					</div>
					<div *ngIf='item.Note' style="display: flex;">
						备注：<span class="value">{{item.Note}}</span>
					</div>
				</tr>
			</ng-template>
		</tbody>
	</nz-table>

	<!-- 分页 -->
	<div class="pagination">
		<nz-pagination [nzPageIndex]="page" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
	<!-- 修改 -->
	<nz-modal [(nzVisible)]="isVisible" [nzFooter]='null' (nzOnCancel)='handleCancel()'  [nzClosable]='false' nzTitle="抖音达人数据修改" >
	      <ng-container *nzModalContent>
	        <p>输入达人的微信或手机号码</p>
	        <input  nz-input placeholder="微信/电话" [(ngModel)]="editItem.Information" />
	        <!-- 艺人主页 Home -->
			<p style="margin-top:14px;">艺人主页</p>
			<input nz-input placeholder="艺人主页" [(ngModel)]="editItem.Home" />
			<div style="display:flex;justify-content: space-between;margin-top:14px;">
				<div>
					<!-- 艺人类型 Type -->
					<p>艺人类型</p>
					<input nz-input placeholder="艺人类型" [(ngModel)]="editItem.Type" />
				</div>
				<div>
					<!-- 艺人风格 Style -->
					<p>艺人风格</p>
					<input nz-input placeholder="艺人风格" [(ngModel)]="editItem.Style" />
				</div>
				<div>
					<!-- 嗓音特点 Characteristics -->
					<p>嗓音特点</p>
					<input nz-input placeholder="嗓音特点" [(ngModel)]="editItem.Characteristics" />
				</div>
			</div>
			<div style="display:flex;justify-content: space-between;margin-top:14px;">
				<div>
					<!-- 翻唱唱酬 Vocals -->
					<p>翻唱唱酬</p>
					<input nz-input placeholder="翻唱唱酬" [(ngModel)]="editItem.Vocals" />
				</div>
				<div>
					<!-- 翻唱分成 Split -->
					<p>翻唱分成</p>
					<input nz-input placeholder="翻唱分成" [(ngModel)]="editItem.Split" />
				</div>
				<div>
					<p>性别</p>
					<nz-select [(ngModel)]="editItem.Sex">
						<nz-option *ngFor="let l of sexList;" [nzValue]="l.value" [nzLabel]="l.label"></nz-option>
					</nz-select>
				</div>
			</div>
			<div style="display:flex;justify-content: space-between;margin-top:14px;">
				<div>
					<!-- 原创唱酬 Original -->
					<p>原创唱酬</p>
					<input nz-input placeholder="原创唱酬" [(ngModel)]="editItem.Original" />
				</div>
				<div>
					<!-- 原创分成 OriginalShare -->
					<p>原创分成</p>
					<input nz-input placeholder="原创分成" [(ngModel)]="editItem.OriginalShare" />
				</div>
				<div>
					<!-- 翻唱视频费用 Fees -->
					<p>翻唱视频费用</p>
					<input nz-input placeholder="翻唱视频费用" [(ngModel)]="editItem.Fees" />
				</div>
			</div>
			<!-- 备注  Note -->
			<p style="margin-top:10px;">备注</p>
			<input nz-input placeholder="备注" [(ngModel)]="editItem.Note" />
			
			<div class='modalBtns'>
				<button class='btnCancel' (click)='handleCancel()'>
					取消
				</button>
				<button (click)='handleOk()' class='btnConfirm'>
					修改
				</button>
			</div>
	      </ng-container>
	    </nz-modal>
</div>
