<div class="brand-user">
	<nz-table #basicTable [nzData]="brandSongList" nzTitle='' [nzFrontPagination]='false'>
	  <thead>
	    <tr>
	      <th nzWidth='80px' nzAlign='center'>QQ</th>
	      <th nzWidth='80px' nzAlign='center'>Mid</th>
	      <th nzAlign='center'>歌名</th>
	      <th nzAlign='center'>指数</th>
	      <th nzAlign='center'>指数排名</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let item of basicTable.data; let i = index">
			<td  nzAlign='center'>
				<img [src]="item.url" alt="" style='width:80px;height:80px;border-radius: 6px;'>
			 </td>
	     <td  nzAlign='center'>
			{{item.mid}}	 
	      </td>
		  <td nzAlign='center' nz-tooltip [nzTooltipTitle]="'去qq搜索'" style='color:blue;cursor: pointer;' (click)='toSearchQQ(item)'>
		  	{{item.name}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{common.toThousands(item.yesterday_index)}}	  
		  </td>
		  <td nzAlign='center'>
		  	{{common.toThousands(item.yesterday_rank)}}	  
		  </td>
	    </tr>
	  </tbody>
	</nz-table>
</div>
