<nz-card [nzLoading]="loading" [nzHoverable]='true' style="margin-bottom: 20px;border-radius: 6px;min-height: 430px;border-color: rgba(0, 0, 0, 0.6);">
	<div class="item_list" >
		<div style="font-size: 16px;margin-bottom: 8px;">抖音挑战榜</div>
		<div *ngIf="DyChallengeList.length==0">
			[ 暂无数据 ]
		</div>
		<div style="height: 350px;overflow-y: auto;" class="scrollList">
			<div *ngFor="let item of DyChallengeList" style="display: flex;align-items: center;">
				<div nz-tooltip nzTooltipTitle="排名" style="width: 14px;">{{item.position}}</div>
				<img [src]="item.word_cover[0]" alt=""
					style="width: 30px;height: 30px;border-radius: 6px;margin-left: 8px;object-fit: cover;">
				<div style="margin-left: 8px;">
					<div nz-tooltip [nzTooltipTitle]="item.word"
						style="max-width: 165px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;-o-text-overflow:ellipsis;">
						{{item.word}}
					</div>
					<div nz-tooltip nzTooltipTitle="热度">{{common.toThousands(item.hot_value)}}</div>
				</div>
			</div>
		</div>
	</div>
</nz-card>