<div class="ranking">
	<div class="title">
		<div>
			监测歌曲
		</div>
	</div>
	<!-- <nz-collapse>
	      <nz-collapse-panel
			[nzActive]='active'
	      >
	        <p style="margin:0;">
	          A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome
	          guest in many households across the world.
	        </p>
	      </nz-collapse-panel>
	</nz-collapse> -->
	<div style="padding: 16px;display: flex;align-items: center;justify-content: space-between;">
		<ngx-search [searchValue]='searchValue' [searchHolder]='"请搜索歌曲名字"' (childSearch)='search($event)'>
		</ngx-search>
		<div style="margin-right: 20px;">
			<nz-switch [ngModel]="switch" nzCheckedChildren="我的" nzUnCheckedChildren="全部"
				(ngModelChange)='ngModelChange($event)'></nz-switch>
		</div>
	</div>
	<nz-table #nestedTable [nzData]="data" nzTitle='' [nzFrontPagination]='false'>
		<thead>
			<tr>
				<th nzAlign='center'></th>
				<th nzAlign='center'>歌曲ID</th>
				<th nzAlign='center'>歌曲名称</th>
				<th nzAlign='center'>歌曲版本</th>
				<th nzAlign='center'>作者</th>
				<th nzAlign='center'>专辑</th>
				<th nzAlign='center' style="cursor: pointer;display: flex;align-items: center;" (click)='publish_timeClick()'>
					<div>
						发行时间
					</div>
					<span *ngIf='publish_timeOrderby == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='publish_timeOrderby == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
				</th>
				<th nzAlign='center'>关键词排名</th>
				<th nzAlign='center' style="cursor: pointer;display: flex;align-items: center;" (click)='create_timeClick()'>
					<div>
						加入时间
					</div>
					<span *ngIf='create_timeOrderby == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
					<span *ngIf='create_timeOrderby == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
				</th>
				<th nzAlign='center'>添加者</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor let-item [ngForOf]="nestedTable.data">
				<tr>
					<td [(nzExpand)]="item.expand"></td>
					<td nzAlign='center'>
						<div class="flexCcenter">
							<div class="qq">
								{{item.qq_mid}}
							</div>
							<div class='kg'>
								{{item.kg_scid}}
							</div>
						</div>
					</td>
					<td nzAlign='center'>
						<div *ngIf='item.qq_song_name == common.deleteEM(item.kg_song_name) || common.deleteEM(item.kg_song_name)==item.qq_song_title||!item.qq_song_name||!item.kg_song_name'>
							{{item.qq_song_name || common.deleteEM(item.kg_song_name)}}
						</div>
						<div class="flexCcenter" *ngIf='item.qq_song_name != common.deleteEM(item.kg_song_name)&&common.deleteEM(item.kg_song_name)!=item.qq_song_title&&item.qq_song_name&&item.kg_song_name'>
							<div class="qq">
								{{item.qq_song_name}}
							</div>
							<div class='kg'>
								{{common.deleteEM(item.kg_song_name)}}
							</div>
						</div>
					</td>
					<td nzAlign='center'>
						{{item.qq_song_title}}
					</td>
					<td nzAlign='center'>
						<div *ngIf='item.qq_singer_name == common.deleteEM(item.kg_singer_name)||!item.qq_singer_name||!item.kg_singer_name'>
							{{item.qq_singer_name||common.deleteEM(item.kg_singer_name)}}
						</div>
						<div class="flexCcenter" *ngIf='item.qq_singer_name != common.deleteEM(item.kg_singer_name)&&item.kg_singer_name&&item.qq_singer_name'>
							<div class="qq">
								{{item.qq_singer_name}}
							</div>
							<div class='kg'>
								{{common.deleteEM(item.kg_singer_name)}}
							</div>
						</div>
					</td>
					<td nzAlign='center'>
						<div *ngIf='item.qq_album_name == item.kg_album_name||!item.qq_album_name||!item.kg_album_name'>
							{{item.qq_album_name||item.kg_album_name}}
						</div>
						<div class="flexCcenter" *ngIf='item.qq_album_name != item.kg_album_name&&item.qq_album_name&&item.kg_album_name'>
							<div class="qq">
								{{item.qq_album_name}}
							</div>
							<div class='kg'>
								{{item.kg_album_name}}
							</div>
						</div>
					</td>
					<td nzAlign='center'>
						<div *ngIf='item.qq_publish_time == item.kg_publish_time||!item.kg_publish_time||!item.qq_publish_time'>
							{{item.qq_publish_time||item.kg_publish_time}}
						</div>
						<div class="flexCcenter" *ngIf='item.qq_publish_time != item.kg_publish_time&&item.kg_publish_time&&item.qq_publish_time'>
							<div class="qq">
								{{item.qq_publish_time}}
							</div>
							<div class='kg'>
								{{item.kg_publish_time}}
							</div>
						</div>
					</td>
					<td nzAlign='center'>
						<div style="display: flex;align-items: center;justify-content: center;">
							<div class="flexCcenter">
									<div class="qq" style="color: #000;">
										<div *ngIf='item.qq_rankingValues.length>1'
											[ngClass]='{"Gcolor":item.newqq_rank>item.qq_rankingValues[item.qq_rankingValues.length-2].rank,"Bcolor":item.newqq_rank<item.qq_rankingValues[item.qq_rankingValues.length-2].rank}'>
											{{item.newqq_rank}}
										</div>
										<div *ngIf='item.qq_rankingValues.length==1'>
											{{item.newqq_rank}}
										</div>
										<div *ngIf='item.qq_rankingValues.length>1&&item.newqq_rank!=0' style="display: flex;align-items: center;">
											<span
												*ngIf='item.newqq_rank>item.qq_rankingValues[item.qq_rankingValues.length-2].rank'
												nz-icon nzType="arrow-down" style='color:#35C035;margin-left: 6px;'
												nzTheme="outline"></span>
											<span
												*ngIf='item.qq_rankingValues[item.qq_rankingValues.length-2].rank>item.newqq_rank'
												nz-icon nzType="arrow-up" style='color:red;margin-left: 6px;'
												nzTheme="outline"></span>
										</div>
									</div>
									<div class='kg' style="color: #000;">
											<div *ngIf='item.kg_rankingValues.length>1'
												[ngClass]='{"Gcolor":item.newkg_rank>item.kg_rankingValues[item.kg_rankingValues.length-2].myRank,"Bcolor":item.newkg_rank<item.kg_rankingValues[item.kg_rankingValues.length-2].myRank}'>
												{{item.newkg_rank}}
											</div>
											<div *ngIf='item.kg_rankingValues.length==1'>
												{{item.newkg_rank}}
											</div>
											<div *ngIf='item.kg_rankingValues.length>1&&item.newkg_rank!=0' style="display: flex;align-items: center;">
												<span
													*ngIf='item.newkg_rank>item.kg_rankingValues[item.kg_rankingValues.length-2].myRank'
													nz-icon nzType="arrow-down" style='color:#35C035;margin-left: 6px;'
													nzTheme="outline"></span>
												<span
													*ngIf='item.kg_rankingValues[item.kg_rankingValues.length-2].myRank>item.newkg_rank'
													nz-icon nzType="arrow-up" style='color:red;margin-left: 6px;'
													nzTheme="outline"></span>
											</div>
									</div>
							</div>
							<div (click)='refresh(item)' style="cursor: pointer;margin-left: 8px;">
								<span nz-tooltip [nzTooltipTitle]="'点击刷新'">
									<span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
								</span>
							</div>
						</div>
						
					</td>
					<td nzAlign='center'>
						{{common.getDate(item.create_time)}}
					</td>
					<td nzAlign='center'>
						{{item.username}}
					</td>
				</tr>
				<tr [nzExpand]="item.expand">
					<nz-table #innerTable [nzData]="item.ranking" nzSize="middle" [nzShowPagination]="false">
					<tbody>
						<tr *ngFor="let data of innerTable.data;let i = index">
							<td style="padding:8px 4px;">
								<div class="qq" style="color:#000;margin-bottom: 8px;">
									{{common.getTime(data.qq.time)}}
								</div>
								<ul style="margin-bottom: 5px;">
									<li>
										<div style="display: flex;font-size: 13px;">
											<div style="margin: 0 12px;">
												QQ
											</div>
											<div style="margin: 0 12px;">
												昨日指数：{{data.qq.yesterdayIndex}}
											</div>
											<div style="margin: 0 12px;">
												较前一天：{{common.tFixed(data.qq.indexRate)}}
											</div>
											<div style="margin: 0 12px;">
												昨日排名：{{data.qq.yesterdayRank}}
											</div>
											<div style="margin: 0 12px;">
												较前一天：{{data.qq.rankRate}}
											</div>
											<div style="margin: 0 12px;display: flex; align-items: center;">
												<div *ngIf='item.ranking.length>1&&i!=0'>
													<div
														[ngClass]='{"Gcolor":item.ranking[i-1].qq.rank<data.qq.rank&&data.qq.rank!=0,"Bcolor":item.ranking[i-1].qq.rank>data.qq.rank&&data.qq.rank!=0}'>
														关键字排名：{{data.qq.rank}}
													</div>
												</div>
												<div *ngIf='i==0'>
													关键字排名：{{data.qq.rank}}
												</div>
												<div *ngIf='item.ranking.length>1&&i!=0&&data.qq.rank!=0' style="display: flex;align-items: center;">
													<span *ngIf='item.ranking[i-1].qq.rank<data.qq.rank' nz-icon nzType="arrow-down"
														style='color:#35C035;margin-left: 6px;' nzTheme="outline"></span>
													<span *ngIf='item.ranking[i-1].qq.rank>data.qq.rank' nz-icon nzType="arrow-up"
														style='color:red;margin-left: 6px;' nzTheme="outline"></span>
												</div>
											</div>
										</div>
									</li>
								</ul>
								<ul style="margin-bottom: 5px;">
									<li>
										<div style="display: flex;font-size: 13px;">
											<div style="margin: 0 12px;">
												酷狗
											</div>
											<div style="margin: 0 12px;">
												昨日指数：{{data.kugou.yestodayExponent}}
											</div>
											<div style="margin: 0 12px;">
												较前一天：{{data.kugou.exponent_diff}}
											</div>
											<div style="margin: 0 12px;">
												昨日排名：{{data.kugou.yestodayRank}}
											</div>
											<div style="margin: 0 12px;">
												较前一天：{{data.kugou.exponent_diff}}
											</div>
											<div style="margin: 0 12px;display: flex; align-items: center;">
												<div *ngIf='item.ranking.length>1&&i!=0'>
													<div
														[ngClass]='{"Gcolor":item.ranking[i-1].kugou.myRank<data.kugou.myRank&&data.kugou.myRank!=0,"Bcolor":item.ranking[i-1].kugou.myRank>data.kugou.myRank&&data.kugou.myRank!=0}'>
														关键字排名：{{data.kugou.myRank}}
													</div>
												</div>
												<div *ngIf='i==0'>
													关键字排名：{{data.kugou.myRank}}
												</div>
												<div *ngIf='item.ranking.length>1&&i!=0&&data.kugou.myRank!=0' style="display: flex;align-items: center;">
													<span *ngIf='item.ranking[i-1].kugou.myRank<data.kugou.myRank' nz-icon
														nzType="arrow-down" style='color:#35C035;margin-left: 6px;'
														nzTheme="outline"></span>
													<span *ngIf='item.ranking[i-1].kugou.myRank>data.kugou.myRank' nz-icon
														nzType="arrow-up" style='color:red;margin-left: 6px;'
														nzTheme="outline"></span>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</nz-table>
			</tr>
		</ng-template>
	</tbody>
	</nz-table>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;">
		<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
