<div class="lyric-all" [ngClass]='{"lyric-all-phone":isphone}' (mousemove)='mousemove($event)' (mouseenter)='mousemove($event)'>
	<div *ngIf='isphone&&lyricReadly' (click)='close($event)' class="close">
		<span nz-icon nzType="close-circle" nzTheme="outline"></span>
	</div>
	<div *ngIf='!lyricReadly' class="lyric-all_spin">
		<nz-spin nzSimple></nz-spin>
	</div>
	<div class="lyric-all_info" *ngIf='lyricReadly'>
		<div style="text-align: center;padding:18px 0;font-weight: bold;">
			{{songName}}
		</div>
		<div *ngFor="let lyric of lyricData.summary;" class="line">
			<div style="font-weight: bold;">
				{{lyric[0]}}
			</div>
			<div style="">
				{{lyric[1]}}
			</div>
		</div>
	</div>
	<div class="lyric-all_content" *ngIf='lyricReadly'>
		{{lyricData.content}}
	</div>
	<div class="lyric-all_rank" *ngIf='rankList.length>0&&lyricReadly&&rankList[0].date'>
		<div *ngFor="let item of rankList" class="rankBox">
			<div class="rankBox-time">
				{{item.date}}
			</div>
			<div class="rankBox-value">
				{{item.value}}
			</div>
		</div>
	</div>
	<div class="lyric-all_rank" *ngIf='rankList.length>0&&lyricReadly&&!rankList[0].date'>
		<div *ngFor="let item of rankList" class="rankBox">
			<div class="rankBox-value">
				{{item}}
			</div>
		</div>
	</div>
</div>
