.lyric-all{
	z-index: 1001;
	box-shadow:2px 2px 6px #ccc;
	position: absolute;
	background-color: #fff;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	bottom:-320px;
	width: 350px;
	height:400px;
	font-size: 13px;
	
	.lyric-all_scroll{
		overflow-y:scroll;
		height:400px;width: 350px;
		padding:24px;
	}
}