<div>
	<!-- 热点详情 -->
	<div *ngIf='result.sentence_id'>
		<div style='padding:12px 0px;display:flex;align-items:center;'>
			<div style='font-size: 20px;font-weight: bold;' *ngIf='result.sentence'>
				{{result.sentence}}
			</div>
			<div style="display: flex;">
				<div *ngFor='let item of result.sentenceDetail.DouSentenceTimeline'>
					<div class='sentence_rank' style="margin-right: 8px;" *ngIf='item.max_rank!=-1'>
						{{item.billBoard_type}} 历史最高 TOP {{item.max_rank}}
					</div>
				</div>
			</div>
		</div>
		<nz-tabset [(nzSelectedIndex)]='nzSelectedIndex2'>
			<nz-tab nzTitle="热点详情">
				<div *ngIf='result.sentenceDetail'>
					<div style='display:flex;align-items:center;'>
						<div class='main-tag' [ngClass]='{"main-tag_active":active2=="热度值"}'
							(click)='changeTag2("热度值")'>
							<div>热度值</div>
							<div class='main-tag_num'>
								{{common.toWan(result.sentenceDetail.score_cnt)}}
							</div>
						</div>
						<div class='main-tag' [ngClass]='{"main-tag_active":active2=="点赞量"}'
							(click)='changeTag2("点赞量")'>
							<div>点赞量</div>
							<div class='main-tag_num'>
								{{common.toWan(result.sentenceDetail.like_cnt)}}
							</div>
						</div>
						<div class='main-tag' [ngClass]='{"main-tag_active":active2=="评论量"}'
							(click)='changeTag2("评论量")'>
							<div>评论量</div>
							<div class='main-tag_num'>
								{{common.toWan(result.sentenceDetail.comment_cnt)}}
							</div>
						</div>
						<div class='main-tag' [ngClass]='{"main-tag_active":active2=="分享量"}'
							(click)='changeTag2("分享量")'>
							<div>分享量</div>
							<div class='main-tag_num'>
								{{common.toWan(result.sentenceDetail.share_cnt)}}
							</div>
						</div>
					</div>
					<div echarts [options]="echartsOptions2" class="echartsDemo"
						*ngIf='result.sentenceDetail'></div>
					<div *ngIf='result.sentenceDetail.Top30Video.length>0'>
						<div style="display: flex;align-items: center;">
							<div style='font-size: 20px;font-weight: bold;padding:12px 0;'>
								热点视频
							</div>
							<div class='sentence_rank'>
								TOP 30
							</div>
						</div>
						<div class='hotVideos-box'>
							<div *ngFor='let item of result.sentenceDetail.Top30Video'
								style="margin: 0 10px;margin-bottom: 20px;">
								<div style="display: flex;justify-content: center;align-items: center;">
									<video [src]="item.item_url" width="250px" height="408px" id='v'
										controls style="border-radius: 2px;background: #000;"></video>
								</div>
								<div style="width: 250px;">
									<div style="font-weight: bold;margin-top: 6px;" class="hiddenText2"
										nz-tooltip [nzTooltipTitle]="item.item_title">
										{{item.item_title}}
									</div>
									<div
										style="display: flex;align-items: center;justify-content: space-between;font-size:13px;color:#666;margin-top:8px;">
										<div style="display: flex;align-items: center;">
											<img nz-image width="30px" height="30px"
												[nzSrc]="item.avatar_url" style="border-radius: 50%;"
												[nzFallback]="fallback" alt="" />
											<div style="margin-left: 4px;">
												{{item.nick_name}}
											</div>
										</div>
										<div>
											{{common.getTime(item.create_time*1000)}}
										</div>
									</div>
									<div style='display: flex;align-items: center;margin-top:8px;'>
										<div>
											<img src="../../../assets/img/dianzan.svg" class="icon" />
											{{common.toWan(item.like_cnt)}}
										</div>
										<div style="margin-left: 6px;">
											<img src="../../../assets/img/pinglun.svg" class="icon" />
											{{common.toWan(item.comment_cnt)}}
										</div>
										<div style="margin-left: 6px;">
											<img src="../../../assets/img/fenxiang.svg" class="icon" />
											{{common.toWan(item.share_cnt)}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	
			</nz-tab>
			<nz-tab nzTitle="观众分析">
				暂无内容
			</nz-tab>
			<nz-tab nzTitle="评论分析">
				暂无内容
			</nz-tab>
		</nz-tabset>
	</div>
	<div *ngIf='!result.sentence_id' style='font-size: 20px;font-weight: bold;text-align: center;'>
		该视频没有热点☹
	</div>
</div>
