<div class="home">
  <div class="home-top">
    <!-- tab栏 -->
    <div class="tagList">
      <div
        *ngFor="let item of tagList"
        (click)="onSelect(item)"
        class="tagList-item"
        [ngClass]="{ 'tagList-itemActive': item.title == selectItem }"
      >
        {{ item.title }}
      </div>
    </div>
    <!-- 搜索 -->
    <div class="SearchBar">
      <ngx-search
        [searchValue]="searchValue"
        [searchHolder]="searchHolder"
        (input)="input($event)"
        (childSearch)="search($event)"
      >
      </ngx-search>
      <div
        *ngIf="tipDataNow.length > 0 && selectItem == '厂牌歌曲'"
        class="SearchBarTip"
      >
        <div
          *ngFor="let data of tipDataNow"
          class="TipSelect"
          (click)="choseTip(data.company)"
        >
          {{ data.company }}
        </div>
      </div>
    </div>
  </div>
  <!-- 数据 -->
  <div class="home-main">
    <ngx-musician-tx
      *ngIf="selectItem == '腾讯音乐人'"
      [musicianTxList]="musicianTxList"
    ></ngx-musician-tx>
    <ngx-wangyisixin
      *ngIf="selectItem == '网易私信'"
      [wangyisixinList]="wangyisixinList"
    ></ngx-wangyisixin>
    <ngx-brand-user
      *ngIf="selectItem == '厂牌用户'"
      [brandUserList]="brandUserList"
    ></ngx-brand-user>
    <div style="display: flex; justify-content: space-between">
      <div style="width: 49%">
        <ngx-brand-song-qq
          *ngIf="selectItem == '厂牌歌曲'"
          [brandSongList]="brandSongList"
          (change)="qqSrcChange($event)"
        ></ngx-brand-song-qq>
      </div>
      <div style="width: 49%">
        <ngx-brand-song-kg
          *ngIf="selectItem == '厂牌歌曲'"
          [brandSongList]="brandSongListKg"
          (change)="kgSrcChange($event)"
        ></ngx-brand-song-kg>
      </div>
    </div>
    <ngx-sing5
      *ngIf="selectItem == '5SING用户'"
      [sing5List]="sing5List"
    ></ngx-sing5>
    <ngx-artist-visualization
      *ngIf="selectItem == '相似歌手'"
      [artists]="artists"
    ></ngx-artist-visualization>
  </div>
  <!-- 分页 -->
  <div class="pagination">
    <span
      *ngIf="selectItem == '腾讯音乐人' && musicianTxList.length > 0"
      nz-icon
      nzType="down-circle"
      nzTheme="twotone"
      (click)="musicianTxPageNext()"
      style="cursor: pointer"
    ></span>
    <span
      *ngIf="selectItem == '网易私信' && wangyisixinList.length > 0"
      nz-icon
      nzType="down-circle"
      nzTheme="twotone"
      (click)="wangyisixinPageNext()"
      style="cursor: pointer"
    ></span>
    <nz-pagination
      *ngIf="selectItem == '厂牌用户' && brandUserList.length > 0"
      [nzPageIndex]="brandUserPage"
      [nzPageSize]="brandUserPageSize"
      [nzTotal]="brandUserPageTotal"
      (nzPageIndexChange)="nzPageIndexChangeBrandUser($event)"
    ></nz-pagination>
    <div style="width: 100%; display: flex; justify-content: space-between">
      <div style="width: 49%">
        <nz-pagination
          *ngIf="selectItem == '厂牌歌曲' && brandSongList.length > 0"
          [nzPageIndex]="brandSongPage"
          [nzPageSize]="brandSongPageSize"
          [nzTotal]="brandSongPageTotal"
          (nzPageIndexChange)="nzPageIndexChangeBrandSong($event)"
        ></nz-pagination>
      </div>
      <div style="width: 49%">
        <nz-pagination
          *ngIf="selectItem == '厂牌歌曲' && brandSongListKg.length > 0"
          [nzPageIndex]="brandSongPageKg"
          [nzPageSize]="brandSongPageSizeKg"
          [nzTotal]="brandSongPageTotalKg"
          (nzPageIndexChange)="nzPageIndexChangeBrandSongKg($event)"
        ></nz-pagination>
      </div>
    </div>
    <nz-pagination
      *ngIf="selectItem == '5SING用户' && sing5List.length > 0"
      [nzPageIndex]="sing5Page"
      [nzPageSize]="sing5PageSize"
      [nzTotal]="sing5PageTotal"
      (nzPageIndexChange)="nzPageIndexChangeSing5($event)"
    ></nz-pagination>
  </div>
  <ngx-loading *ngIf="loading"></ngx-loading>
  <div class="play" *ngIf="selectItem == '厂牌歌曲'">
    <audio id="audio" controls [src]="audioSrc"></audio>
  </div>
</div>
