<div class="hotSearchList">
	<div style="display: flex;justify-content: space-between;align-items: center;">
		<div class="tagList" *ngIf='type==0'>
		  <div
		    *ngFor="let item of list;let i = index"
		    (click)="onSelect(item,i)"
		    class="tagList-item"
		    [ngClass]="{ 'tagList-itemActive': i == selectIndex }"
		  >
		    {{ item.title }}
		  </div>
		</div>
		<nz-select style="width: 100px;" [(ngModel)]="type" (ngModelChange)='ngModelType($event)'>
			<nz-option *ngFor="let item of typeList;" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
		</nz-select>
	</div>
	<ngx-hotSearchListTemplate (change)='playChange($event)' [listItem]='list[selectIndex]' [listIndex]='selectIndex' *ngIf='type==0'></ngx-hotSearchListTemplate>
	<ngx-hotSearchListAll (change)='playChange($event)' [list]='list' *ngIf='type==1'></ngx-hotSearchListAll>
	
	<ngx-loading *ngIf='loading'></ngx-loading>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{hide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (error)="audioError()" (play)='play($event)' (pause)='pause()' (timeupdate)="timeupdate($event)">
		</audio>
	</div>
</div>