<div class="multiModalLearning">

  <!-- tab栏 -->
    <div class="tagList">
		<div *ngFor="let item of tagList" (click)="onSelect(item)" class="tagList-item" [ngClass]="{ 'tagList-itemActive': item.name == selectItem }">
		  {{ item.name }}
		</div>
    </div>
    <div *ngIf="selectItem == '预估'" class="mainBox">
		<ngx-multiModalLearningComputed></ngx-multiModalLearningComputed>
	</div>
    <div *ngIf="selectItem == '历史记录'" class="mainBox">
      <ngx-multiModalLearningShow></ngx-multiModalLearningShow>
    </div>

 
</div>
