.scanning{
	background-color: #fff;
	border-radius: 8px;
	min-height: 82vh;
	.tagList{
		padding:24px;
		display: flex;
		align-items: center;
		.tagList-item{
			flex-shrink: 0;
			padding: 6px 16px;
			color: #494F66;
			font-size: 14px;
			background: #F6F7FB;
			border-radius: 100px;
			margin-right: 12px;
			cursor: pointer;
		}
		.tagList-itemActive{
			background: #4060F6;
			color:#fff;
		}
	}
}