<div class="songsControl">
	<div style="display: flex;justify-content: space-between;align-items: center;">
		<div class="TITLE">
			酷狗监测歌曲
		</div>
		<!-- <div *ngIf='isAdmin'>
			<nz-switch [ngModel]="switch" nzCheckedChildren="我的" nzUnCheckedChildren="全部"
				(ngModelChange)='ngModelChange($event)'></nz-switch>
		</div> -->
	</div>
	<div class="tagList" >
		<div *ngFor="let item of tagList;let i = index;" (click)="onSelect(item,i)" class="tagList-item"
			[ngClass]="{'tagList-itemActive': i==selectIndex}">
				{{item.username}}
		</div>
	</div>
	<div class="tagList" style="justify-content: space-between;" *ngIf='tagList.length>0'>
		<div style="display: flex;">
			<div (click)="onSelect2(0)" class="tagList-item"
				[ngClass]="{'tagList-itemActive': 0==selectIndex2}">
				监控中
			</div>
			<div (click)="onSelect2(1)" class="tagList-item"
				[ngClass]="{'tagList-itemActive': 1==selectIndex2}">
				取消监控
			</div>
			<div (click)="onSelect2(2)" class="tagList-item"
				[ngClass]="{'tagList-itemActive': 2==selectIndex2}">
				已签约
			</div>
		</div>
		<ngx-search [searchValue]='searchValue' [searchHolder]='"歌曲名模糊查询"' (childSearch)='search($event)'>
		</ngx-search>
	</div>
	<nz-empty *ngIf="list.length==0" style="margin-top: 160px;"></nz-empty>
	<div class="list" *ngIf='list.length!=0'>
		<div *ngFor="let item of list;let idx=index">
			<div class="list-item" [id]='"list-item"+idx'>
				<div class="item-left">
					<div class="left-icon" (click)='playAudio(item,idx)'>
						<img [src]="item.ImgUrl" style="width: 60px;height: 60px;" />
						<img *ngIf='!item.isPlay' src="assets/img/play-blue.png" class="left-icon_play" />
						<img *ngIf='item.isPlay' src="assets/img/pause-blue.png" class="left-icon_play">
					</div>
					<div class="left-text">
						<div class="title-area">
							<!-- 歌名 -->
							<div class="title" (click)='common.copy(common.deleteEM(item.SongName))' nz-tooltip [nzTooltipTitle]="common.deleteEM(item.SongName)">
									{{common.deleteEM(item.SongName)}}
							</div>
							<button nz-button nzShape="circle" nzType="text" (click)="openSongDetail(item.EMixSongID)"
								class="linkIcon" style="margin-left: 10px;">
								<span nz-icon nzType="select" nzTheme="outline" style="color:blue;font-size: 14px;"></span>
							</button>
						</div>
						<div class="subTitle">
							<!-- 歌手 发行时间 -->
							<span nz-tooltip [nzTooltipTitle]="common.deleteEM(item.singerNames)">
								<div style="display: flex;align-items: center;max-width: 145px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;">
									<div *ngFor="let s of item.Singer;let si = index;" style="cursor: pointer;" (click)='openSinger(s)'>
										{{common.deleteEM(s.author_name || s.name)}}{{si==item.Singer.length-1?'':'、'}}
									</div>
								</div>
							</span>
						</div>
						<div class="subTitle">
							<div style="color: blue;cursor: pointer;margin-left: 8px;" (click)='moreVersion(item)'>
								{{item.isMore?'收起':'展开'}}
							</div>
						</div>
					</div>
				</div>
				<div class='item-right'>
					<div class="itemCenter">
						<!-- 专辑名字 -->
						<div class="exophanie-item" style="font-weight: bold;margin-top: 0;cursor: pointer;" (click)='openAlbum(item)'>
							{{common.deleteEM(item.Album)}}
						</div>
						<div class="exophanie-item u-line-1">
							{{item.ReleaseDate}}
						</div>
					</div>
					<div class="itemRight">
						<div>
							<div style="display: flex;align-items: center;">
								<div [ngClass]='{"purple":item.TIME == todayTIME}'>
									<div>录入时间 {{common.getTime(item.AddDate)}}</div>
								</div>
							</div>
							<div>
								录入者：{{item.username}}
							</div>
						</div>
						<div *ngIf='item.State.data[0]==0&&userId==item.UserId' 
						style="cursor: pointer;display: flex;flex-direction: column;align-items: center;margin-left:6px;" 
						  nz-popconfirm
						  [nzPopconfirmTitle]='"是否取消监控 " + item.SongName'
						  nzPopconfirmPlacement="bottom"
						  (nzOnConfirm)="cancelMonitor(item,null)"
						  (nzOnCancel)="cancel()">
							<img src="/assets/img/cancelMonitor.svg" style="width:24px;height:24px;">
							<div>取消监控</div>
						</div>
						<div *ngIf='item.State.data[0]==0&&userId==item.UserId' 
						style="cursor: pointer;display: flex;flex-direction: column;align-items: center;margin-left:6px;" 
						nz-popconfirm
						[nzPopconfirmTitle]='"是否已签约 " + item.SongName'
						nzPopconfirmPlacement="bottom"
						(nzOnConfirm)="cancelMonitor(item,1)"
						(nzOnCancel)="cancel()">
							<img src="/assets/img/contract.svg" style="width:24px;height:24px;">
							<div>已签约</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class='more' *ngIf='item.isMore'>
				
				 <nz-table #columnTable [nzData]="item.IndexKG" [nzPageSize]='10000000' [nzShowPagination]='false' [nzScroll]="{ x: item.IndexKG.length*140+'px' }">
				      <thead>
				        <tr>
						  <th nzLeft nzAlign='center'>日期</th>
				          <th nzAlign='center' *ngFor="let data of columnTable.data">{{common.getDate(data.Time)}}</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
							<td nzAlign='center' nzLeft>指数</td>
				            <td nzAlign='center' *ngFor="let data of columnTable.data">
								{{ data.Index?data.Index:'暂无' }}
							</td>
				        </tr>
						<tr >
							<td nzAlign='center' nzLeft>评论</td>
							<td nzAlign='center' *ngFor="let data of columnTable.data;let i = index">
								<div *ngIf='item.CountKG[i].Time'>
									{{ item.CountKG[i].Count }}
								</div>
								<div *ngIf='!item.CountKG[i].Time'>
									暂无
								</div>
							</td>
						</tr>
						<tr >
							<td nzAlign='center' nzLeft>收听</td>
						    <td nzAlign='center' *ngFor="let data of columnTable.data;let i = index">
							    <div style='cursor:pointer;' *ngIf='item.ListenKG[i].length>0' (mouseenter)='mouseenter(item.ListenKG[i])' nz-popover nzPopoverTitle="每日收听数据" [nzPopoverContent]="contentTemplate">
									{{ item.ListenKG[i][0].Count }}
							    </div>
								<div *ngIf='item.ListenKG[i].length==0'>
									暂无
								</div>
						    </td>
						</tr>
				      </tbody>
				    </nz-table>
					<div style="margin-top: 24px;">
						<div style="margin-right: 16px;flex-shrink: 0;font-size: 13px;padding-left:12px;">
							指数趋势
						</div>
						<div style='display:flex;'>
							<div style="flex:1;">
								<div
									echarts
									[options]="item.optionsIndex2"
									class="demo"
									style="width: 100%; height: 240px;"></div>
							</div>
							<div style="flex:1;" *ngIf='item.Mid'>
								<div 
									echarts
									[options]="item.optionsIndex1"
									class="demo"
									style="width: 100%; height: 240px;"></div>
							</div>
						</div>
					</div>
					<div>
						<div style="margin-right: 16px;flex-shrink: 0;font-size: 13px;padding-left:12px;">
							收听趋势
						</div>
						<div style='display: flex;align-items: center;'>
							<div style="flex:1;">
								<div
									echarts
									[options]="item.optionsListen2"
									class="demo"
									style="width: 100%; height: 240px;"></div>
							</div>
							<div style="flex:1;" *ngIf='item.Mid'>
								<div 
									echarts
									[options]="item.optionsListen1"
									class="demo"
									style="width: 100%; height: 240px;"></div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<div style="display: flex;justify-content: center;">
		<nz-pagination *ngIf='list.length>0' [nzPageIndex]="page" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='PageNext($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{hide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (error)="audioError($event)" (play)='play($event)' (pause)='pause()'>
		</audio>
	</div>
	<ng-template #contentTemplate>
	    <div *ngFor='let item of listenData;' style="display: flex;">
			<div>{{common.getTime(item.Time)}}</div>
			<div style="margin: 0 5px;">：</div>
			<div>{{item.Count}}</div>
		</div>
	</ng-template>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>