<div class="songsControl">
	<div style="display: flex;justify-content: space-between;align-items: center;">
		<div class="title">
			酷狗监测歌曲
		</div>
		<div *ngIf='isAdmin'>
			<nz-switch [ngModel]="switch" nzCheckedChildren="我的" nzUnCheckedChildren="全部"
				(ngModelChange)='ngModelChange($event)'></nz-switch>
		</div>
	</div>
	<div class="tagList" *ngIf='type=="查看全部"'>
		<div *ngFor="let item of list;let i = index;" (click)="onSelect(item,i)" class="tagList-item"
			[ngClass]="{'tagList-itemActive': i==selectIndex}">
				{{item[0]}}
		</div>
	</div>
	<nz-empty *ngIf="data.length==0" style="margin-top: 160px;"></nz-empty>
	<div class="list" *ngIf='data.length!=0'>
		<div *ngFor="let item of data;let idx=index">
			<div class="list-item" [id]='"list-item"+idx'>
				<div class="item-left">
					<div class="left-icon" (click)='playAudio(item,idx)'>
						<img [src]="item.ImgUrl" style="width: 60px;height: 60px;" />
						<img *ngIf='!item.isPlay' src="assets/img/play-blue.png" class="left-icon_play" />
						<img *ngIf='item.isPlay' src="assets/img/pause-blue.png" class="left-icon_play">
					</div>
					<div class="left-text">
						<div class="title-area">
							<!-- 歌名 -->
							<div>
								<div class="title">
									<span nz-tooltip [nzTooltipTitle]="common.deleteEM(item.SongName)">
										{{common.deleteEM(item.SongName)}}
									</span>
								</div>
							</div>
							<button nz-button nzShape="circle" nzType="text" (click)="openSongDetail(item.MixSongID,item.FileHash)"
								class="linkIcon" style="margin-left: 10px;">
								<span nz-icon nzType="select" nzTheme="outline" style="color:blue;font-size: 14px;"></span>
							</button>
						</div>
						<div class="subTitle">
							<!-- 歌手 发行时间 -->
							<span nz-tooltip [nzTooltipTitle]="item.singerNames">
								<div style="display: flex;align-items: center;max-width: 145px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;">
									<div *ngFor="let s of item.Singer;let si = index;" style="cursor: pointer;">
										{{common.deleteEM(s.author_name)}}{{si==item.Singer.length-1?'':'、'}}
									</div>
								</div>
							</span>
						</div>
						<div class="subTitle">
							<div style="color: blue;cursor: pointer;margin-left: 8px;" (click)='moreVersion(item)'>
								{{item.isMore?'收起':'展开'}}
							</div>
						</div>
					</div>
				</div>
				<div class='item-right'>
					<div class="itemCenter">
						<!-- 专辑名字 -->
						<div class="exophanie-item" style="font-weight: bold;margin-top: 0;cursor: pointer;" (click)='openAlbum(item)'>
							{{common.deleteEM(item.Album)}}
						</div>
						<div class="exophanie-item u-line-1">
							{{item.ReleaseDate}}
						</div>
					</div>
					<div class="itemRight">
						<div style="display: flex;align-items: center;margin-top: 6px;">
							<div style="cursor: pointer;">
								<div>录入时间 {{common.getTime(item.AddDate)}}</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class='more' *ngIf='item.isMore'>
			<!-- <div class='more' [ngStyle]="{'height':item.isMore?((item.GrpData.length*160)+'px'):'0px','padding':item.isMore?'8px 12px':'0px'}"> -->
				
				 <nz-table #columnTable [nzData]="item.Index" [nzPageSize]='10000000' [nzShowPagination]='false' [nzScroll]="{ x: '2000px' }">
				      <thead>
				        <tr>
						  <th nzLeft nzAlign='center'>日期</th>
				          <th nzAlign='center' *ngFor="let data of columnTable.data">{{common.getTime(data.Time)}}</th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
							<td nzAlign='center' nzLeft>指数</td>
				          <td nzAlign='center' *ngFor="let data of columnTable.data">{{ data.Index }}</td>
				        </tr>
						<tr >
							<td nzAlign='center' nzLeft>评论</td>
						  <td nzAlign='center' *ngFor="let data of columnTable.data;let i = index">
							  <div *ngIf='item.Count[i]'>
								  {{ item.Count[i].Count }}
							  </div>
						  </td>
						</tr>
						<tr>
							<td nzAlign='center' nzLeft>指数趋势</td>
							<td [colSpan]="item.Index.length">
								<div
								  echarts
								  [options]="item.options"
								  class="demo"
								  style="width: 100%; height: 90px; "
								></div>
							</td>
						</tr>
				      </tbody>
				    </nz-table>
					
			</div>
		</div>
	</div>
	<!-- 播放器 -->
	<div class="play" [ngClass]="{hide : !isPlay}">
		<audio id='audio' controls [src]="audioSrc" (error)="audioError($event)" (play)='play($event)' (pause)='pause()'>
		</audio>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>