.songRoom {
  height: 100%;
  min-height: calc(100vh - 4.75rem - 4rem);
  border-radius: 8px;
  background-image: url(https://jiangly.com/_nuxt/img/banner_111.a6be22c.gif);
  background-size: cover;
  position: relative;
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
    Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	.loading{
		color:#fff;
		font-weight: bold;
		font-size: 22px;
		width: 100%;display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 350px;
	}
}
.width60{
	width:60%;
}
.Room {
  position: absolute;
  // width:60%;
  z-index:666;
  left: 2%;
  right: 2%;
  top: 2%;
  bottom: 2%;
  transition: all 0.5s;
  background: var(--message-panel-bg-color, #fff);
  box-shadow: var(--message-panel-box-shadow, 0 0 15px #f2f2f2);
  border-radius: 10px;
  .top {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid var(--message-border-color, #eee);
    display: flex;
    padding: 0 15px;
    align-items: center;
    position: relative;
    .showBox {
      position: absolute;
      right: 15px;
      top: 110%;
      width: 250px;
      height: 300px;
      transition: all 0.3s;
      box-shadow: 0 0 10px rgba(89, 36, 36, 0.2);
      background-color: var(
        --message-popup-bg-color,
        hsla(0, 0%, 100%, 0.7019607843137254)
      );
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      z-index:223;
      overflow-y: scroll;
      .onlineTittle {
        color: var(--message-main-text-color, #333);
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
        // display: flex;
        // justify-content: space-between;
      }
      .userBox {
        width: 100%;
        .user {
          cursor: pointer;
          padding: 3px;
          display: flex;
          align-items: center;
          border-top: 1px solid var(--message-border-color, #eee);
          transition: all 0.3s;
          border-left: 3px solid transparent;
          border-right: 3px solid transparent;
          padding-left: 8px;
          .userImg {
            width: 40px;
            border-radius: 5px;
          }
          .userDetail {
            margin-left: 3px;
            .userName {
              font-size: 14px;
              color: var(--message-main-text-color, #333);
              font-weight: 500;
              display: flex;
              align-items: center;
            }
            .userSignature {
              font-size: 12px;
              margin-top: 4px;
              color: #aaa;
              text-align: left;
              display: flex;
              align-items: center;
            }
          }
        }
        .user:hover {
          border-left: 2px solid #333;
        }
      }
    }
    .topLeftInner {
      color: var(--message-main-text-color, #333);
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      .leftInner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .RoomNumber {
          background-color: var(--message-main-text-color, #333);
          color: var(--message-border-color, #eee);
          display: flex;
          padding: 0 5px;
          font-size: 14px;
          border-radius: 3px;
          margin-right: 5px;
        }
        .RoomName {
          font-size: 18px;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          margin-right: 12px;
        }
        .share {
          display: flex;
          align-items: center;
        }
      }
      .scrollMessage {
        width: 50%;
      }
    }
    .topRightInner {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .website {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
  .main {
    width: 100%;
    height: 60%;
    overflow-y: scroll;
  }
  .main::-webkit-scrollbar{
	  width:8px;
  }
  .main::-webkit-scrollbar-thumb{
	  background-color: rgba(50, 50, 50, 0.3);
	  border-radius: 5px; // 滑块圆角
  }
  .bottom {
    width: 100%;
    height: 30%;
    .messageTopBox {
      width: 100%;
      display: flex;
      align-items: center;
      .toolbar-left {
        width: 75%;
        display: flex;
        align-items: center;
        .expression-box {
          display: flex;
          align-items: center;
          justify-content: center;
          -moz-user-select: none;
          user-select: none;
          margin-right: 5px;
          padding: 5px 10px;
          border-radius: 5px;
          transition: all 0.3s;
          cursor: pointer;
          position: relative;
        }
        .firstBox {
          margin-left: 15px;
        }
        .expression-box:hover {
          background: var(--message-hover-bg-color, #e0dede);
        }
      }
      .toolbar-Right {
        width: 25%;
        .collect {
          float: right;
          display: flex;
          align-items: center;
          margin-right: 15px;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .songs {
        display: flex;
        align-items: center;
      }
    }
  }
}
.video-box{
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	right:2%;
	left:64%;
	flex-direction:column;
	// width:34%;
	display:flex;
	align-items:center;
	justify-content:flex-end;
	background:#000;
	border-radius:4px;
	overflow:hidden;
	.video{
		width:100%;
	}
}