.userControl{
	padding:18px;
	padding-bottom:60px;
	height: 100%;
	min-height: calc(100vh - 4.75rem - 4rem);
	background-color: #fff;
	color:#000;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	.home-top{
		display: flex;
		position: relative;
		// align-items: center;
		justify-content: space-between;
		
	}
	.listItem{
		margin:18px 0;
		border: 1px solid #ccc;
		border-radius: 4px;
		padding:8px 16px;
		font-size: 13px;
	}
}	