<div class="swollen">
  <div class="tab">
    <nz-switch
      [ngModel]="type"
      nzCheckedChildren="我的"
      nzUnCheckedChildren="全部"
      (ngModelChange)="ngModelChange()"
    ></nz-switch>
  </div>
  <nz-table
    #basicTable
    [nzData]="dataSet"
    [nzTotal]="total"
    [nzPageSize]="8"
    [nzShowPagination]="true"
  >
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="50px">ID</th>
        <th nzAlign="center">头像</th>
        <th nzAlign="center">名称</th>
        <th nzAlign="center">监控人</th>
        <th nzAlign="center">创造者</th>
        <th nzAlign="center" nzWidth="180px">联系方式</th>
        <th nzAlign="center">特效BGM</th>
        <th nzAlign="center">昨日特效使用量</th>
        <th nzAlign="center">今日特效使用量</th>
        <th nzAlign="center">较昨日增长使用量</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td nzAlign="center">{{ i + 1 }}</td>
        <td nzAlign="center">
          <img
            style="width: 40px; height: 40px; border-radius: 50%"
            [src]="this.data.CDN"
            alt=""
          />
        </td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">
          {{ data.username ? data.username : this.username }}
        </td>
        <td nzAlign="center">{{ data.author }}</td>
        <td nzAlign="center">
          <div>
            <div *ngIf="data.phone">手机号：{{ data.phone }}</div>
            <div *ngIf="data.weChat">微信：{{ data.weChat }}</div>
            <div *ngIf="data.QQ">QQ：{{ data.QQ }}</div>
          </div>
        </td>
        <td nzAlign="center">{{ data.BGM }}</td>
        <td nzAlign="center">
          <div style="display: flex; justify-content: space-around">
            <div style="width: 80%">
              {{ data.yesterdayindex == 0 ? "" : data.yesterdayindex }}
            </div>
            <div
              style="cursor: pointer; position: relative"
              (mouseenter)="mouseenter(data)"
              (mouseleave)="mouseleave(data)"
            >
              <div
                nz-icon
                nzType="clock-circle"
                nzTheme="outline"
                style="
                  margin-left: 5px;
                  position: absolute;
                  right: 5px;
                  top: 50%;
                  transform: translateY(-50%);
                "
                style="font-size: 20px; color: #333; margin-right: 6px"
              ></div>
              <div *ngIf="data.show" class="history">
                <div *ngFor="let item of data.utilisation.res">
                  {{ common.timeFormat(item.time) }}：{{ item.usageCount }}
                </div>
              </div>
            </div>
          </div>
        </td>
        <td nzAlign="center">{{ data.todayindex }}</td>
        <td nzAlign="center">
          <div>
            {{
              data.yesterdayindex && data.todayindex
                ? data.todayindex - data.yesterdayindex
                : ""
            }}
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
