<div class="swollen">
  <div class="tab">
	  <ngx-search [searchValue]='searchValue' [searchHolder]='"搜索BGM"' (childSearch)='search($event)'></ngx-search>
    <nz-switch
      [ngModel]="type"
      nzCheckedChildren="我的"
      nzUnCheckedChildren="全部"
      (ngModelChange)="ngModelChange()"
    ></nz-switch>
  </div>
  <nz-table *ngIf='isShow'
    #basicTable
    [nzData]="dataSet"
    [nzTotal]="total"
    [nzPageSize]="50"
    [nzShowPagination]="true"
  >
    <thead>
      <tr>
        <th nzAlign="center" nzWidth="50px">ID</th>
        <th nzAlign="center">头像</th>
        <th nzAlign="center">名称</th>
        <th nzAlign="center">监控人</th>
        <th nzAlign="center">创造者</th>
        <th nzAlign="center" >联系方式</th>
        <th nzAlign="center">特效BGM</th>
        <th nzAlign="center">历史特效使用量</th>
        <th nzAlign="center">今日特效使用量</th>
        <th nzAlign="center" (click)='orderByIndex()' style="cursor: pointer;">
			<span>较历史增长使用量</span>
			<span *ngIf='orderby == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
			<span *ngIf='orderby == ""' nz-icon nzType="line" nzTheme="outline" style="color: blue;"></span>
			<span *ngIf='orderby == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
		</th>
        <th nzAlign="center" style='color:red;'>昨日作品使用量</th>
        <th nzAlign="center" style='color:red;'>距前一日增长</th>
		<th nzAlign="center" (click)='orderByBgm()' style="cursor: pointer;color:red;">
			<span>昨日BGM使用量</span>
			<span *ngIf='orderby2 == "asc"' nz-icon nzType="caret-up" nzTheme="outline" style="color: blue;"></span>
			<span *ngIf='orderby2 == ""' nz-icon nzType="line" nzTheme="outline" style="color: blue;"></span>
			<span *ngIf='orderby2 == "desc"' nz-icon nzType="caret-down" nzTheme="outline" style="color: blue;"></span>
		</th>
		<th nzAlign='center'>加入时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td nzAlign="center">{{ i + 1 }}</td>
        <td nzAlign="center">
          <img
            style="width: 40px; height: 40px; border-radius: 50%"
            [src]="this.data.CDN"
            alt=""
          />
        </td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">
          {{ data.username ? data.username : username }}
        </td>
        <td nzAlign="center">{{ data.author }}</td>
        <td nzAlign="center">
          <div>
            <div *ngIf="data.phone">手机号：{{ data.phone }}</div>
            <div *ngIf="data.weChat">微信：{{ data.weChat }}</div>
            <div *ngIf="data.QQ">QQ：{{ data.QQ }}</div>
          </div>
        </td>
        <td nzAlign="center">{{ data.BGM }}</td>
        
        <td nzAlign="center">
          <div
            style="display: flex; justify-content: space-around"
            *ngIf="data.lastindex !== ''"
          >
            <div style="width: 80%">
              {{ common.toThousands(data.lastindex)}}
            </div>
            <div style="cursor: pointer; position: relative"
              (mouseenter)="mouseenter(data)"
              (mouseleave)="mouseleave(data)">
              <div
                nz-icon
                nzType="clock-circle"
                nzTheme="outline"
                style="font-size: 20px; color: #333; margin-right: 6px"
              ></div>
              <div *ngIf="data.show" class="history">
                <div *ngFor="let item of data.utilisation.res">
                  {{ common.timeFormat(item.time) }}：{{ item.usageCount }}
                </div>
              </div>
            </div>
          </div>
        </td>
        <td nzAlign="center">{{common.toThousands(data.todayindex) }}</td>
        <td nzAlign="center">
          <div>
            {{
              data.lastindex!=='' && data.todayindex!=='' ? common.toThousands(data.todayindex - data.lastindex): ''
            }}
          </div>
        </td>
		<td nzAlign="center">
			<div *ngIf='data.BgmUtilizationRateZT' style="display: flex;align-items: center;justify-content:center;">
				<div>
					<div [ngStyle]="{'color':data.BgmColor[0]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[0]">
						{{data.BgmUtilizationRateZT[1]}}
					</div>
					<div [ngStyle]="{'color':data.BgmColor[1]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[1]">
						{{data.BgmUtilizationRateZT[2]}}
					</div>
					<div [ngStyle]="{'color':data.BgmColor[2]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[2]">
						{{data.BgmUtilizationRateZT[3]}}
					</div>
					
				</div>
				<div
				  style="cursor: pointer; position: relative"
				  (mouseenter)="mouseenter2(data)"
				  (mouseleave)="mouseleave2(data)">
				  <div
				    nz-icon
				    nzType="clock-circle"
				    nzTheme="outline"
				    style="font-size: 20px; color: #333;"
				  ></div>
				  <div *ngIf="data.show2&&data.BgmUtilizationRate.res.length>0" class="history">
						<div *ngFor="let items of data.BgmUtilizationRate.res[data.BgmUtilizationRate.res.length-1].data">
							<div>
								{{common.timeFormat(items[0])}}
							</div>
							<div>
								<div [ngStyle]="{'color':data.BgmColor[0]}">
									{{data.BgmTitle[0]}}：{{items[1]}}，
								</div>
								<div [ngStyle]="{'color':data.BgmColor[1]}">
									{{data.BgmTitle[1]}}：{{items[2]}}，
								</div>
								<div [ngStyle]="{'color':data.BgmColor[2]}">
									{{data.BgmTitle[2]}}：{{items[3]}}
								</div>
							</div>
						</div>
				  </div>
				</div>
			
			</div>
			<div *ngIf='!data.BgmId'>未添</div>
		</td>
		<td nzAlign="center">
			<div *ngIf='data.BgmUtilizationRateZT&&data.BgmUtilizationRateQT'>
				<div [ngStyle]="{'color':data.BgmColor[0]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[0]">
					{{data.BgmUtilizationRateZT[1] - data.BgmUtilizationRateQT[1]}}
				</div>
				<div [ngStyle]="{'color':data.BgmColor[1]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[1]">
					{{data.BgmUtilizationRateZT[2] - data.BgmUtilizationRateQT[2]}}
				</div>
				<div [ngStyle]="{'color':data.BgmColor[2]}" nz-tooltip [nzTooltipTitle]="data.BgmTitle[2]">
					{{data.BgmUtilizationRateZT[3] - data.BgmUtilizationRateQT[3]}}
				</div>
			</div>
			<div *ngIf='!data.BgmId'>未添</div>
		</td>
		<td nzAlign="center">
			<div
		    style="display: flex; justify-content: space-around" *ngIf='data.BgmUtilizationRateArr.length>0'>
		    <div style="width: 80%">
				<!-- 加一起总使用数 -->
		      {{ common.toThousands(data.BgmUtilizationRateZTAll)}}
		    </div>
		    <div
		      style="cursor: pointer; position: relative"
		      (mouseenter)="mouseenter3(data)"
		      (mouseleave)="mouseleave3(data)">
		      <div
		        nz-icon
		        nzType="clock-circle"
		        nzTheme="outline"
		        style="
		          margin-left: 5px;
		          position: absolute;
		          right: 5px;
		          top: 50%;
		          transform: translateY(-50%);
		        "
		        style="font-size: 20px; color: #333; margin-right: 6px"
		      ></div>
		      <div *ngIf="data.show3" class="history">
		        <div *ngFor="let item of data.BgmUtilizationRateArr">
		          {{ common.timeFormat(item.time) }}：{{ item.count }}
		        </div>
		      </div>
		    </div>
		  </div></td>
		<td nzAlign="center">
			{{common.timeFormat(data.creationTime*1000)}}
		</td>
      </tr>
    </tbody>
  </nz-table>
  <ngx-loading *ngIf='loading'></ngx-loading>
</div>
