<div class="monitoring-mv">
	<div class="home-top">
		<div style="display: flex;align-items: center;">
			<!-- 搜索 -->
			<ngx-search [searchValue]='keyword' searchHolder='歌曲名模糊查询' (childSearch)='search($event)'
				[searchWidth]='"390px"'>
			</ngx-search>
		</div>
	</div>
	<nz-empty *ngIf="data.length==0" style="margin-top: 160px;"></nz-empty>
	<div style="height: 100%;" *ngIf='data.length>0'>
		<nz-table style='margin-top: 24px;' #nestedTable [nzData]="data" nzTitle='' [nzFrontPagination]='false'>
			<thead>
				<tr>
					<th nzAlign='center'></th>
					<th nzAlign='center'>ID</th>
					<th nzAlign='center'>歌曲名</th>
					<th nzAlign='center'>歌曲版本</th>
					<th nzAlign='center'>歌手</th>
					<th nzAlign='center'>词作者</th>
					<th nzAlign='center'>曲作者</th>
					<th nzAlign='center'>发行时间</th>
					<th nzAlign='center'>加入时间</th>
				</tr>
			</thead>
			<tbody>
				<ng-template ngFor let-item [ngForOf]="nestedTable.data">
					<tr>
						<td [(nzExpand)]="item.expand"></td>
						<td nzAlign='center'>
							<div class="flexCcenter">
								<div *ngFor='let q of item.QQ;'>
									<div class="qq" *ngIf='q.Mid'>
										<div>
											{{q.Mid}}
										</div>
										<div (click)="openMvQQ(q.Mid)" class="linkIcon" style="margin-left: 8px;">
											<span nz-icon nzType="select" nzTheme="outline" style="color:#35C035;font-size: 14px;"></span>
										</div>
										<div (click)="editQQ(q)" class="linkIcon" style="margin-left: 8px;">
											<span nz-icon nzType="edit" nzTheme="outline" style="color:#35C035;font-size: 14px;"></span>
										</div>
									</div>
								</div>
								<div *ngFor='let k of item.KG;'>
									<div class='kg' *ngIf='k.Mid'>
										<div>
											{{k.Mid}}
										</div>
										<div (click)="openMvKG(k.Mid)" class="linkIcon" style="margin-left: 8px;">
											<span nz-icon nzType="select" nzTheme="outline" style="color:blue;font-size: 14px;"></span>
										</div>
										<div (click)="editKG(k)" class="linkIcon" style="margin-left: 8px;">
											<span nz-icon nzType="edit" nzTheme="outline" style="color:blue;font-size: 14px;"></span>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].SongName&&!item.QQ[0].SongName,'qqc':!item.KG[0].SongName&&item.QQ[0].SongName}">
							{{item.QQ[0].SongName || item.KG[0].SongName}}
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].Releases&&!item.QQ[0].Releases,'qqc':!item.KG[0].Releases&&item.QQ[0].Releases}">
							{{item.QQ[0].Releases || item.KG[0].Releases}}
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].SingerName&&!item.QQ[0].SingerName,'qqc':!item.KG[0].SingerName&&item.QQ[0].SingerName}">
							<div *ngIf='item.QQ[0].SingerName'>
								<div *ngFor='let singer of item.QQ[0].SingerName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
							<div *ngIf='item.KG[0].SingerName&&!item.QQ[0].SingerName'>
								<div *ngFor='let singer of item.KG[0].SingerName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].LyricsAuthorName&&!item.QQ[0].LyricsAuthorName,'qqc':!item.KG[0].LyricsAuthorName&&item.QQ[0].LyricsAuthorName}">
							<div *ngIf='item.QQ[0].LyricsAuthorName' >
								<div *ngFor='let singer of item.QQ[0].LyricsAuthorName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
							<div *ngIf='item.KG[0].LyricsAuthorName&&!item.QQ[0].LyricsAuthorName' >
								<div *ngFor='let singer of item.KG[0].LyricsAuthorName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].SongAuthorName&&!item.QQ[0].SongAuthorName,'qqc':!item.KG[0].SongAuthorName&&item.QQ[0].SongAuthorName}">
							<div *ngIf='item.QQ[0].SongAuthorName' >
								<div *ngFor='let singer of item.QQ[0].SongAuthorName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
							<div *ngIf='item.KG[0].SongAuthorName&&!item.QQ[0].SongAuthorName' >
								<div *ngFor='let singer of item.KG[0].SongAuthorName;let i = index;'>
									<span>{{singer}}</span>
								</div>
							</div>
						</td>
						<td nzAlign='center' [ngClass]="{'kgc':item.KG[0].ReleaseDate&&!item.QQ[0].ReleaseDate,'qqc':!item.KG[0].ReleaseDate&&item.QQ[0].ReleaseDate}">
							{{common.getDate(item.QQ[0].ReleaseDate||item.KG[0].ReleaseDate)}}
						</td>
						<td nzAlign='center'>
							<div class="flexCcenter">
								<div *ngFor='let q of item.QQ;'>
									<div class="qqc" *ngIf='q.AddTime'>
										{{common.getDate(q.AddTime)}}
									</div>
								</div>
								<div *ngFor='let k of item.KG;'>
									<div class='kgc' *ngIf='k.AddTime'>
										{{common.getDate(k.AddTime)}}
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr [nzExpand]="item.expand">
						<div style="display: flex;">
							<div *ngIf='item.QQ[0].echarts' style="flex:1;">
								<div echarts [options]="item.QQ[0].echarts" style="width: 100%; height: 240px;"></div>
							</div>
							<div *ngIf='item.KG[0].echarts' style="flex:1;">
								<div echarts [options]="item.KG[0].echarts" style="width: 100%; height: 240px;"></div>
							</div>
						</div>
					</tr>
				</ng-template>
			</tbody>
		</nz-table>
	</div>
	<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='data.length>0'>
		<nz-pagination [nzPageIndex]="page" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
			(nzPageIndexChange)='nzPageIndexChange($event)' nzShowQuickJumper></nz-pagination>
	</div>
	<!-- loading -->
	<ngx-loading *ngIf='loading'></ngx-loading>
	
	<!-- qq -->
	<nz-modal [nzStyle]="{ width: '800px' }" [(nzVisible)]="isVisible1" nzTitle="QQ：修改mv信息" (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()">
		<ng-container *nzModalContent>
			<div>
				<div style="display: flex;">
					<div style='flex:1;'>
						<div>Mid</div>
						<input nz-input placeholder="Mid" [(ngModel)]="editData1.Mid" [disabled]="true"/>
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							歌手 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="歌手" [(ngModel)]="editData1.SingerName" />
					</div>
				</div>
				<div style='display:flex;margin-top:16px;'>
					<div style='flex:1;'>
						<div>
							歌曲名字
						</div>
						<input nz-input placeholder="输入歌曲名字" [(ngModel)]="editData1.SongName" />
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							歌曲版本
						</div>
						<input nz-input placeholder="输入歌曲版本" [(ngModel)]="editData1.Releases" />
					</div>
				</div>
				<div style='display:flex;margin-top:16px;'>
					<div style="flex:1;">
						<div>
							词作者 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="输入词作者" [(ngModel)]="editData1.LyricsAuthorName" />
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							曲作者 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="输入曲作者" [(ngModel)]="editData1.SongAuthorName" />
					</div>
				</div>
				<div style="margin-top: 8px;">
					<div>
						发行时间
					</div>
					<nz-date-picker [(ngModel)]="editData1.ReleaseDate" (ngModelChange)="onDateChange1($event)"></nz-date-picker>
				</div>
			</div>
		</ng-container>
	</nz-modal>
	<!-- kg -->
	<nz-modal [nzStyle]="{ width: '800px' }" [(nzVisible)]="isVisible2" nzTitle="酷狗：修改mv信息" (nzOnCancel)="handleCancel2()" (nzOnOk)="handleOk2()">
		<ng-container *nzModalContent>
			<div>
				<div style="display: flex;">
					<div style='flex:1;'>
						<div>id</div>
						<input nz-input placeholder="Mid" [(ngModel)]="editData2.Mid" [disabled]="true"/>
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							歌手 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="歌手" [(ngModel)]="editData2.SingerName" />
					</div>
				</div>
				<div style='display:flex;margin-top:16px;'>
					<div style='flex:1;'>
						<div>
							歌曲名字
						</div>
						<input nz-input placeholder="输入歌曲名字" [(ngModel)]="editData2.SongName" />
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							歌曲版本
						</div>
						<input nz-input placeholder="输入歌曲版本" [(ngModel)]="editData2.Releases" />
					</div>
				</div>
				<div style='display:flex;margin-top:16px;'>
					<div style="flex:1;">
						<div>
							词作者 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="输入词作者" [(ngModel)]="editData2.LyricsAuthorName" />
					</div>
					<div style="margin-left: 8px;flex:1;">
						<div>
							曲作者 <span style="font-size: 12px;color: #666;">多个作者用,隔开</span>
						</div>
						<input nz-input placeholder="输入曲作者" [(ngModel)]="editData2.SongAuthorName" />
					</div>
				</div>
				<div style="margin-top: 8px;">
					<div>
						发行时间
					</div>
					<nz-date-picker [(ngModel)]="editData2.ReleaseDate" (ngModelChange)="onDateChange2($event)"></nz-date-picker>
				</div>
			</div>
		</ng-container>
	</nz-modal>
</div>