<div class="ranking">
    <div class="title">
        <div>
            <button nz-button (click)="addRow()" nzType="primary">添加用户</button>
        </div>
    </div>
    <div class="main">
        <br />
        <br />
        <nz-table #editRowTable nzBordered [nzData]="listOfData">
            <thead>
                <tr>
                    <th nzAlign="center">名字</th>
                    <th nzAlign="center">UUID</th>
                    <th nzAlign="center">手机号</th>
                    <th nzAlign="center">最后一次活跃</th>
                    <th nzAlign="center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data" class="editable-row">
                    <td nzAlign="center">
                        <div class="editable-cell">
                            {{ data.Name }}
                        </div>
                    </td>
                    <td nzAlign="center">{{ data.Ui }}</td>
                    <td nzAlign="center">{{ data.Phone}}</td>
                    <td nzAlign="center">{{common.getDate(data.Last_activity)}}</td>
                    <td nzAlign="center">
                        <button nz-button (click)="deleteRow(data)" nzType="default" nzDanger>删除用户</button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <nz-modal [(nzVisible)]="isDeleteUser" nzTitle="删除用户" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
            nzOkDanger="true" nzClosable="false">
            <ng-container *nzModalContent>
                <p>确认删除"<span style="color:red">{{deleteUser.Name}}</span>"么？</p>
            </ng-container>
        </nz-modal>

        <nz-modal [(nzVisible)]="isAddUser" nzTitle="添加用户" (nzOnCancel)="handleCancel()" (nzOnOk)="Adduser()"
            nzClosable="false">
            <ng-container *nzModalContent>
                <div style="display: flex;justify-content: space-between;">
                    <div style="width: 50px;line-height: 30px;height: 30px;">姓名：</div><input nz-input
                        placeholder="请输入名字" [(ngModel)]="adduser.Name" nzSize="default" />
                </div>
                <br />
                <div style="display: flex;justify-content: space-between;">
                    <div style="width: 50px;line-height: 30px;height: 30px;">电话：</div><input nz-input
                        placeholder="请输入电话号" [(ngModel)]="adduser.Phone" maxlength="11" />
                </div>
            </ng-container>
        </nz-modal>
    </div>
</div>