<nz-empty
  *ngIf="dyYyhList.length == 0"
  style="margin-top: 160px"
></nz-empty>
<div class="list">
  <div *ngFor="let item of dyYyhList; let i = index">
    <div class="list-item">
      <div class="item-left">
		  <div style="font-size: 22px;color:#000;font-weight: bold;margin-right: 16px;">
			  {{item.position}}
		  </div>
        <div class="left-avatar">
		  <img nz-image width="70px" height="70px" [nzSrc]="item.word_cover.url_list[0]" style="border-radius: 12px;"
		  	[nzFallback]="fallback" alt="" />
        </div>
        <div class="left-text">
          <div class="title-area">
            <!-- 艺人名字 -->
            <div
              nz-tooltip
              [nzTooltipTitle]="item.word"
              class="title u-line-1"
			  (click)='common.copy(item.word)'
            >
              {{ item.word }}
            </div>
          </div>
          <div class="subTitle">
            <div style="display: flex; align-items: center">
              <!-- Demo发布时间 -->
              <div>
                {{ common.timeFormat(item.event_time) }}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
      <div style="flex: 1;display: flex;align-items: center;">
		  <img src="../../../../assets/img/redu.svg" class="icon" />
		  <div style="margin-left: 4px;">
			  {{ common.toThousands(item.view_count) }}
		  </div>
      </div>
    </div>
  </div>
</div>
