<div *ngIf='result.author'>
	<!-- 作者趋势 -->
	<div class="author">
		<div style="margin-right: 12px;">
			<img nz-image width="80px" height="80px" [nzSrc]="result.author.avatar_url" style="border-radius: 50%;"
				[nzFallback]="fallback" alt="" />
		</div>
		<div style="flex:1;">
			<div style="display: flex;align-items: center; margin-top: 12px;">
				<div style="font-weight: bold;">
					{{result.author.nickname}}>
				</div>
				<div class="lichengbei" (click)='seeLcb()'>
					查看里程碑>
				</div>
			</div>
			<div style="display: flex;align-items: center;font-size: 12px;color: #999;margin-top: 12px;">
				<div>
					抖音号：<span style="color: #000;">{{result.author.uniqueId}}</span>
				</div>
				<div style="margin-left: 6px;">
					总粉丝：<span style="color: #000;">{{common.toWan(result.author.follower_count)}}</span>
				</div>
				<div style="margin-left: 6px;">
					总获赞量：<span style="color: #000;">{{common.toWan(result.author.total_favorited)}}</span>
				</div>
				<div style="margin-left: 6px;">
					总作品数：
					<span style="color: #000;">{{common.toThousands(result.author.aweme_count)}}</span>
				</div>
				<div style="margin-left: 6px;" class="hiddenText1">
					签名：
					<span style="color: #000;">
						{{result.author.signature}}
					</span>
				</div>
			</div>
		</div>
		<div>
			<button nz-button nzType="default" nz-popover nzPopoverTitle="" [(nzPopoverVisible)]="visible2"
				(nzPopoverVisibleChange)="visiblechange2($event)" nzPopoverTrigger="click"
				[nzPopoverContent]="contentTemplate2" [nzPopoverPlacement]='"bottom"'>
				抖音码
			</button>
			<ng-template #contentTemplate2>
				<img nz-image width="150px" height="150px" [nzSrc]="result.author.fancy_qrcode" [nzFallback]="fallback"
					alt="" />
			</ng-template>
		</div>
	</div>
	<nz-tabset [(nzSelectedIndex)]='nzSelectedIndex3'>
		<nz-tab nzTitle="数据趋势">
			<div style='display:flex;align-items:center;'>
				<div class='main-tag' [ngClass]='{"main-tag_active":active3=="新增点赞量"}' (click)='changeTag3("新增点赞量")'>
					<div>新增点赞量</div>
					<div class='main-tag_num'>
						{{common.toWan(result.author.like_cnt)}}
					</div>
				</div>
				<div class='main-tag' [ngClass]='{"main-tag_active":active3=="净增粉丝量"}' (click)='changeTag3("净增粉丝量")'>
					<div>净增粉丝量</div>
					<div class='main-tag_num'>
						{{common.toWan(result.author.new_fans_cnt)}}
					</div>
				</div>
				<div class='main-tag' [ngClass]='{"main-tag_active":active3=="新增分享量"}' (click)='changeTag3("新增分享量")'>
					<div>新增分享量</div>
					<div class='main-tag_num'>
						{{common.toWan(result.author.share_cnt)}}
					</div>
				</div>
				<div class='main-tag' [ngClass]='{"main-tag_active":active3=="新增评论量"}' (click)='changeTag3("新增评论量")'>
					<div>新增评论量</div>
					<div class='main-tag_num'>
						{{common.toWan(result.author.comment_cnt)}}
					</div>
				</div>
				<div class='main-tag' [ngClass]='{"main-tag_active":active3=="新增作品量"}' (click)='changeTag3("新增作品量")'>
					<div>新增作品量</div>
					<div class='main-tag_num'>
						{{common.toWan(result.author.publish_cnt)}}
					</div>
				</div>
			</div>
			<div echarts [options]="echartsOptions3" class="echartsDemo" *ngIf='result.author'>
			</div>
		</nz-tab>
		<nz-tab nzTitle="粉丝画像">
			<div echarts [options]="echartsOptions7" class="echartsDemo" *ngIf='result.author'>
			</div>
			<div style="display: flex;">
				<div echarts [options]="echartsOptions4" class="echartsDemo" *ngIf='result.author' style="flex:1;">
				</div>
				<div echarts [options]="echartsOptions5" class="echartsDemo" *ngIf='result.author' style="flex:1;">
				</div>
				<div echarts [options]="echartsOptions6" class="echartsDemo" *ngIf='result.author' style="flex:1;">
				</div>
			</div>
		</nz-tab>
	</nz-tabset>
	
<div *ngIf='!result.author' style='font-size: 20px;font-weight: bold;text-align: center;'>
	作者数据异常，请重试☹
</div>
</div>
<!-- 里程碑 -->
	<nz-modal [(nzVisible)]="lcbShow" [nzWidth]='1000' [nzFooter]='null' nzTitle="查看里程碑" (nzOnCancel)="handleCancel()">
		<ng-container *nzModalContent>
			<div style="padding:0 20px;padding-bottom: 60px;">
				<div style="color: #999;font-weight: bold;">
					粉丝数进程
				</div>
				<div style="margin-top: 50px;">
					<div class="progress2">
						<div class="progress-bar2" [ngStyle]='{"width":fansprogress}'></div>
						<div class="progress-now" [ngStyle]='{"left":fansprogress}'>
							<div>
								{{common.toWan(result.author.follower_count)}}
							</div>
							<div class="zfx"></div>
						</div>
						<div class="progress-text1" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_1w_fans_date}'>
							<div class="circle"></div>
							<div>
								1万
							</div>
							<div>
								{{result.author.fans_milestone.first_1w_fans_date?result.author.fans_milestone.first_1w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_1w_fans_date?'第'+result.author.fans_milestone.first_1w_fans_date_between+'天':''}}
							</div>
						</div>
						<div class="progress-text2" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_10w_fans_date}'>
							<div class="circle"></div>
							<div>
								10万
							</div>
							<div>
								{{result.author.fans_milestone.first_10w_fans_date?result.author.fans_milestone.first_10w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_10w_fans_date?'第'+result.author.fans_milestone.first_10w_fans_date_between+'天':''}}
							</div>
						</div>
						<div class="progress-text3" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_30w_fans_date}'>
							<div class="circle"></div>
							<div>
								30万
							</div>
							<div>
								{{result.author.fans_milestone.first_30w_fans_date?result.author.fans_milestone.first_30w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_30w_fans_date?'第'+result.author.fans_milestone.first_30w_fans_date_between+'天':''}}
							</div>
						</div>
						<div class="progress-text4" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_100w_fans_date}'>
							<div class="circle"></div>
							<div>
								100万
							</div>
							<div>
								{{result.author.fans_milestone.first_100w_fans_date?result.author.fans_milestone.first_100w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_100w_fans_date?'第'+result.author.fans_milestone.first_100w_fans_date_between+'天':''}}
							</div>
						</div>
						<div class="progress-text5" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_500w_fans_date}'>
							<div class="circle"></div>
							<div>
								500万
							</div>
							<div>
								{{result.author.fans_milestone.first_500w_fans_date?result.author.fans_milestone.first_500w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_500w_fans_date?'第'+result.author.fans_milestone.first_500w_fans_date_between+'天':''}}
							</div>
						</div>
						<div class="progress-text6" [ngClass]='{"progress-notext":!result.author.fans_milestone.first_1000w_fans_date}'>
							<div class="circle"></div>
							<div>
								1000万
							</div>
							<div>
								{{result.author.fans_milestone.first_1000w_fans_date?result.author.fans_milestone.first_1000w_fans_date:'--'}}
							</div>
							<div>
								{{result.author.fans_milestone.first_1000w_fans_date?'第'+result.author.fans_milestone.first_1000w_fans_date_between+'天':''}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</nz-modal>