.music-lrc{
		overflow: hidden;
		position: fixed;
		right:80px;
		bottom:94px;
		background-color: #F6F6F6A1;
		font-weight: bold;
		width: 300px;
		height: 54px;
		display: flex;
		align-items: center;justify-content: center;
		border-radius: 50px;
		color: #000;
	}