.music-lrc{
		overflow: hidden;
		position: fixed;
		left:330px;
		bottom:34px;
		background-color: #F6F6F6;
		width: 300px;
		height: 54px;
		display: flex;
		align-items: center;justify-content: center;
		border-radius: 50px;
		color: #000;
	}