<div class="douyin">
	<div class="douyin-left">
		<div class="tagList">
			<div class="tagList-item" [ngClass]="{'tagList-itemActive': item==activeTag}" *ngFor="let item of tagList" (click)='changeTag(item)'>
				{{item}}
			</div>
		</div>
		<div *ngIf='activeTag == "实时热点"'>
			<div *ngFor="let item of trending_list" class="word_list">
				<div class="list-left">
					<img [src]="item.word_cover.url_list[0]" class="left-img">
					<div class="">
						<div>
							{{item.word}}
						</div>
						<div class="id">
							{{item.sentence_id}}
						</div>
					</div>
				</div>
				<div class="list-right">
					<span nz-icon nzType="play-circle" nzTheme="outline" style="color: #666;margin-right: 6px;"></span>
					{{common.toThousands(item.video_count)}}
				</div>
			</div>
		</div>
		<div *ngIf='activeTag == "热点"'>
			<div *ngFor="let item of word_list" class="word_list">
				<div class="list-left">
					<img [src]="item.word_cover.url_list[0]" class="left-img">
					<div class="">
						<div>
							{{item.word}}
						</div>
						<div class="id">
							{{item.sentence_id}}
						</div>
					</div>
				</div>
				<div class="list-right">
					<span nz-icon nzType="bar-chart" nzTheme="outline" style="color: #666;margin-right: 6px;"></span>
					{{common.toThousands(item.hot_value)}}
				</div>
			</div>
		</div>
	</div>
	<div class="douyin-center">
		
	</div>
	<div class="douyin-right">
		<div class="right-search">
			<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
			</ngx-search>
		</div>
		<div *ngIf='videoData.name' class="right-main">
			<div>
				{{videoData.name}}
			</div>
			<div class="main-data">
				<!-- 点赞 -->
				<!-- <div style="display: flex;align-items: center;">
					<span nz-icon nzType="heart" nzTheme="outline" style="color:red;margin-right: 4px;"></span>
					{{videoData.digg}}
				</div> -->
				<!-- 评论 -->
				<!-- <div style="display: flex;align-items: center;margin-left: 8px;">
					<span nz-icon nzType="comment" nzTheme="outline" style="margin-right: 4px;"></span>
					{{videoData.comment}}
				</div> -->
			</div>
			<div class="main-sub">
				{{videoData.title}}
			</div>
			<div class="imgBox">
				<img [src]="videoData.download_image" class="right-img">
			</div>
			<div class="main-download">
				<button nz-button nzType="primary" class="download-a" nzShape="round" (click)='downloadUrl(videoData.download_image,videoData.name)'>
					<span nz-icon nzType="download"></span>
					 下载图片
				</button>
				<button nz-button nzType="primary" class="download-a" nzShape="round" (click)='downloadUrl(videoData.music.url,videoData.music.author)'>
					<span nz-icon nzType="download"></span>
					下载音乐
				</button>
				<button nz-button nzType="primary" class="download-a" nzShape="round" (click)='downloadUrl(videoData.video,videoData.name)'>
					 <span nz-icon nzType="download"></span>
					 下载视频
				</button>
			</div>
			<div style="margin-top: 16px;">
				<a href="https://jinzhoushaokao.top/converter" target="_blank">转换格式点击这里</a>
			</div>
		</div>
		<nz-empty *ngIf="!videoData.name" style="margin-top: 160px;"></nz-empty>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
