.codonce{
	background-color: #fff;
	border-radius: 12px;
	min-height: calc(100vh - 4.75rem - 4rem);
	position: relative;
	color:#000;
	padding:18px;
	
	.tagList{
		margin-top: 6px;
		height:40px;
		display: flex;
		// align-items: center;
		align-items:flex-start;
		// justify-content: space-between;
		// max-width:662px;
		margin-right: 40px;
		overflow-x: auto;
		.tagList-item{
			flex-shrink: 0;
			padding: 4px 10px;
			color: #494F66;
			font-size: 13px;
			background: #F6F7FB;
			border-radius: 100px;
			margin-right: 8px;
			cursor: pointer;
			transition: .04s;
		}
		.tagList-item:hover{
			// transform: scale(1.02);
			box-shadow:rgba(0, 0, 0, 0.1) 0px -50px 36px -28px inset;
		}
		.tagList-item:active{
			transform: scale(1.15);
		}
		.tagList-itemActive{
			background: #4060F6;
			color:#fff;
		}
		.tagList-itemActive2{
			background: #4099F0;
			color:#fff;
		}
	}
}