<!-- 搜索 -->
<div class="scanning-search">
	<div style='display:flex;align-items:center;'>
		<ngx-search [searchValue]='searchValue' [searchHolder]='searchHolder' (childSearch)='search($event)'>
		</ngx-search>
		<ngx-searchTip [tipStr]='"https://www.youtube.com/watch?v=-ncIVUXZla8"'></ngx-searchTip>
	</div>
	<div class="link-sub">
		注：该功能请求时间大约在10s以上，请耐心等待O(∩_∩)O
	</div>
</div>
<nz-table #basicTable [nzData]="copyrightList" nzTitle='' [nzFrontPagination]='false'>
	<thead>
		<tr>
			<!-- <th nzAlign='center'>文件名</th> -->
			<th nzAlign='center'>歌曲名</th>
			<th nzAlign='center'>专辑名</th>
			<th nzAlign='center'>发行公司</th>
			<th nzAlign='center'>歌手</th>
			<th nzAlign='center'>音乐分区</th>
			<th nzAlign='center'>分数</th>
			<th nzAlign='center'>歌曲时长</th>
			<th nzAlign='center'>发行时间</th>
			<th nzAlign='center'>Spotify</th>
			<th nzAlign='center'>Deezer</th>
			<th nzWidth='80px' nzAlign='center'>youtube</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of basicTable.data; let i = index">
			<!-- <td nzAlign='center'>
				{{item.name}}
			</td> -->
			<td nzAlign='center' (click)='checkReload(item)'>
				<span nz-tooltip [nzTooltipTitle]="'点击刷新'">
					<div>
						{{item.results.result.title}}
					</div>
					<span nz-icon nzType="redo" nzTheme="outline" style="color: royalblue;"></span>
				</span>
			</td>
			<td nzAlign='center'>
				{{item.results.result.album.name}}
			</td>
			<td nzAlign='center'>
				{{item.results.result.label}}
			</td>
			<td nzAlign='center'>
				{{item.results.result.artists[0].name}}
			</td>
			<td nzAlign='center'>
				<span *ngFor="let genres of item.results.result.genres;let genresIndex = index">
					{{genresIndex == item.results.result.genres.length - 1?genres.name:genres.name+','}}
				</span>
			</td>
			<td nzAlign='center'>
				{{item.results.result.score}}
			</td>
			<td nzAlign='center'>
				{{item.results.result.duration_ms?common.toFixed2(item.results.result.duration_ms/1000) + 's':''}}
			</td>
			<td nzAlign='center'>
				{{item.results.result.release_date}}
			</td>
			<td nzAlign='center'>
				<a *ngIf='item.results.result.external_metadata.spotify' [href]="'https://open.spotify.com/track/'+item.results.result.external_metadata.spotify.track.id" target="_blank">spotify</a>
			</td>
			<td nzAlign='center'>
				<a *ngIf='item.results.result.external_metadata.deezer' [href]="'https://www.deezer.com/us/track/'+ item.results.result.external_metadata.deezer.track.id" target="_blank">deezer</a>
			</td>
			<td nzAlign='center'>
				<a *ngIf='item.results.result.external_metadata.youtube' [href]="'https://www.toutube.com/watch?v='+item.results.result.external_metadata.youtube.vid" target="_blank">youtube</a>
			</td>
		</tr>
	</tbody>
</nz-table>
<div style="display: flex;justify-content: center;padding-bottom: 10px;" *ngIf='copyrightList.length>0&&pageTotal>pageSize'>
	<nz-pagination [nzPageIndex]="pageCurrent" [nzPageSize]='pageSize' [nzTotal]="pageTotal"
		(nzPageIndexChange)='nzPageIndexChange($event)'></nz-pagination>
</div>
<ngx-loading *ngIf='loading'></ngx-loading>
