.kuaishou {
    background-color: #fff;
    border-radius: 12px;
    height: 100%;
    min-height: 600px;
    padding: 20px;
    display: flex;
    color: #000;

    .kuaishou-left {
        flex: 1;
        flex-shrink: 0;

        .tagList {
            display: flex;
            align-items: center;

            .tagList-item {
                flex-shrink: 0;
                padding: 6px 16px;
                color: #494F66;
                font-size: 14px;
                background: #F6F7FB;
                border-radius: 100px;
                margin-right: 12px;
                cursor: pointer;
            }

            .tagList-itemActive {
                background: #4060F6;
                color: #fff;
            }
        }

        .hotTag {
            display: flex;
			flex-wrap: wrap;
            .vertical-item {
				margin-right: 10px;
                margin-top: 10px;
                padding: 4px 8px;
                border: 1px solid #c6c6c6;
                border-radius: 4px;
                cursor: pointer;
				font-size: 13px;
            }

            .vertical-itemActive {
                background: #4060F6;
                color: #fff;
            }
        }

        .rankList {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #ccc;
            border-radius: 8px;
            margin-top: 16px;
            padding: 8px 16px;
            font-size: 13px;
			color:#666;
        }
    }
}