<nz-empty *ngIf="musicianTxList.length==0" style="margin-top: 160px;"></nz-empty>
<div class="list" v-if='musicianTxList.length!=0'>
	<div class="list-item" *ngFor='let item of musicianTxList' :key='item.uin'>
		<div class="item-left">
			<div class="left-avatar">
				<!-- 头像 -->
				<img [src]="item.pic" style="height:100%;"/>
			</div>
			<div class="left-text">
				<div style="display: flex;align-items: center;width: 100%;">
					<!-- 标题 -->
					<div class="title">
						{{item.title}}
					</div>
					<!-- 图标 -->
					<div class="" style="flex:1;" *ngIf='item.iconurl'>
						<span nz-tooltip [nzTooltipTitle]="item.identify_title">
							<img [src]="item.iconurl" style='width: 18px;height: 18px;margin-left: 8px;'>
						</span>
						<!-- <uni-tooltip :content="item.identify_title">
							<img [src]="item.iconurl" style='width: 18px;height: 18px;margin-left: 8px;'>
						</uni-tooltip> -->
					</div>
				</div>
				<!-- 粉丝 -->
				<div class="subTitle">
					{{item.fans_title}}
				</div>
				<!-- 歌单 -->
				<div class="subTitle">
					{{item.gedan_title}}
				</div>
			</div>
		</div>
		<div class="item-center">

		</div>
		<div class="item-right">
			<!-- uin -->
			<div class="right-uin" (click)='common.copy(item.uin)' nz-tooltip [nzTooltipTitle]="'qq'" *ngIf='item.uin'>
				<img src="../../../../assets/img/QQ2.svg" style='width: 18px;height: 18px;margin-right: 8px;'>
				<div>{{item.uin}}</div>
			</div>
			<!-- 获取电话 -->
			<div (click)='getPhone(item)' *ngIf='!item.uiny&&item.havePhone' style="color: blue;cursor: pointer;padding:4px;text-align: right;">
				获取手机号
			</div>
			<!-- 电话 -->
			<div class="right-uin" (click)='common.copy(item.uiny)' nz-tooltip [nzTooltipTitle]="'电话'" style="margin-top: 6px;" *ngIf='item.uiny'>
				<img src="../../../../assets/img/dianhua.svg" style='width: 18px;height: 18px;margin-right: 8px;'>
				<div>{{item.uiny}}</div>
			</div>
		</div>
	</div>
	<ngx-loading *ngIf='loading'></ngx-loading>
</div>
