	.list {
		// overflow: scroll;
		padding: 12px;
		padding-top: 0;
		.list-item {
			font-size: 12px;
			color: rgba(0, 0, 0, 0.6);
			margin-bottom: 20px;
			background: #FFFFFF;
			border: 1px solid rgba(0,0,0,0.12);
			box-shadow:rgb(0 0 0 / 15%) -1.4px 1.4px 3.2px;
			border-radius: 12px;
			height: 96px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 16px;
			.icon {
				width: 16px;
				margin-right: 4px;
				height: 16px;
			}
			.item-left {
				width: 690px;
				display: flex;
				flex-shrink: 0;
				align-items: center;
				.linkIcon{
					    display: flex;
					    align-items: center;
					    width: 32px;
					    height: 32px;
					    cursor: pointer;
					    justify-content: center;
				}
				.left-icon{
					flex-shrink: 0;
					width: 32px;
					height: 32px;
					cursor: pointer;
				}
				.left-text{
					margin-left: 16px;
				}
				.title-area {
					display: flex;
					align-items: center;
					.history{
						min-width: 200px;
						position: absolute;
						left:0;top:0;
						padding:24px;
						background-color: #fff;
						border-radius: 4px;
						z-index: 1001;
						box-shadow:2px 2px 6px #ccc;
						.link{
							color:blue;
							cursor: pointer;
							font-size: 13px;
							font-weight: bold;
						}
					}
					.title {
						font-weight: bold;
						font-size: 16px;
						color: #000;
						max-width: 175px;
						cursor: pointer;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
				.subTitle {
					margin-top: 6px;
					display: flex;
					align-items: center;
				}
			}
			.item-center{
				flex-shrink: 0;
				flex:1;
				.exophanie-item {
					margin-top: 4px;
					font-weight: bold;
					width:250px;
					cursor: pointer;
					text-decoration-line: underline;
					overflow: hidden;
					        white-space: nowrap;
					        text-overflow: ellipsis;
				}
			}
			.item-right{
				
			}
		}
	}
	.drawerSongname{
		cursor: pointer;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color:blue;
		font-size: 16px;
		width: 128px;
	}